<@override name="contest_content">
<div class="row">
  <div class="span4 offset4" id="source-code">
    <span class="green">
    Problem<#if adminUser??>(<a href="problem/show/${solution.pid!}">${solution.pid!}</a>)</#if>
    </span>: 
    <a href="contest/problem/${solution.cid!}-${alpha!}">${solution.cid!}-${alpha!} (${problemTitle!})</a> 
    <span class="green">User</span>: <a href="user/profile/${(submitUser.name)!"Guest"}">${(submitUser.name)!"Guest"}</a> <br> 
    <span class="green">Memory</span>: <span class="memory">${solution.memory!0}</span> KB 
    <span class="green">Time</span>: <span class="time">${solution.time!0}</span> MS <br> 
    <span class="green">Language</span>: ${language!}
    <span class="green">Result</span>: <span id="${resultName!}">${resultLongName!}</span> <br>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Source Code</h2>
    <span><a data-clipboard-target="source" id="copy" class="btn btn-primary">Copy to Clipboard</a></span> <span id="message"></span> 
    <span class="pull-right">
    <#if adminUser?? && (resultName=="SE" || resultName=="WAIT")>
    <a class="btn btn-danger" href="contest/rejudgeCode/${solution.cid!}-${solution.sid!}">Rejudge</a>
    </#if>
    <#if running>
    <a class="btn btn-primary" href="contest/submit/${solution.cid!}-${alpha!}?ajax=1&s=${solution.sid!}" data-toggle="modal" data-target="#submitModal">Fork</a>
    </#if>
    </span>
    <script id="source" class="hidden">${solution.source!}</script>
    <textarea class="brush: ${brush!'cpp'} auto-width" cols="120" rows="20">${solution.source!}</textarea>
  </div>
</div>

<#if solution.error??>
<div class="row">
  <div class="span12">
    <h3><#if resultName=="CE">Compile Error<#else>Runtime Error</#if></h3>
    <pre class="error">${solution.error!}</pre>
  </div>
</div>
</#if> 
<#if adminUser?? && solution.systemError??>
<div class="row">
  <div class="span12">
    <h3>System Error</h3>
    <pre class="error">${solution.systemError!}</pre>
  </div>
</div>
</#if> 
<#if running>
<div class="modal hide fade problemModal" id="submitModal">
  <form class="" action="contest/submitSolution" method="post">
    <div class="modal-header">
      <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
      <h3 id="submitModalLabel">
        Submit Problem ${solution.cid!}-${alpha!}:<a href="contest/submit/${solution.cid!}-${alpha!}" 
        title="Submit in another page" data-toggle="tooltip" data-placement="bottom">${problemTitle}</a>
      </h3>
    </div>
    <div class="modal-body">
      <a href="contest/submit/${solution.cid!}-${alpha!}" class="btn btn-primary">Submit</a>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-info">Reset</button>
      <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>
</#if>
</@override>

<@override name="scripts">
  <link type='text/css' rel='stylesheet' href='assets/syntaxhighlighter/styles/shCore.css' />
  <link type='text/css' rel='stylesheet' href='assets/syntaxhighlighter/styles/shThemeDefault.css' />
  <script src='assets/syntaxhighlighter/scripts/shCore.js' type='text/javascript'></script>
  
  <#if brush=='cpp'><script src='assets/syntaxhighlighter/scripts/shBrushCpp.js' type='text/javascript'></script></#if>
  <#if brush=='java'><script src='assets/syntaxhighlighter/scripts/shBrushJava.js' type='text/javascript'></script></#if>
  <#if brush=='pascal'><script src='assets/syntaxhighlighter/scripts/shBrushDelphi.js' type='text/javascript'></script></#if>
  <#if brush=='python'><script src='assets/syntaxhighlighter/scripts/shBrushPython.js' type='text/javascript'></script></#if>
  <#if brush=='xml'><script src='assets/syntaxhighlighter/scripts/shBrushXml.js' type='text/javascript'></script></#if>
  
  <link type='text/css' rel='stylesheet' href='assets/pnotify/jquery.pnotify.default.css' />
  <script src='assets/pnotify/jquery.pnotify.min.js' type='text/javascript'></script>
  
  <script src='assets/zeroclipboard-1.3.2/ZeroClipboard.min.js' type='text/javascript'></script>

  <script language='javascript' type='text/javascript'>
    $(document).ready(function(){
        ZeroClipboard.config( { moviePath: 'assets/zeroclipboard-1.3.2/ZeroClipboard.swf' } );
        var client = new ZeroClipboard($("#copy"));
        client.on( 'complete', function ( client, args ) {
          $('#copy').attr("class", "btn btn-success");
          $.pnotify({
              title: 'Copy Success',
              text: 'You can paste the code anywhere now.',
              history: false,
              type: 'success'
          });
        });

        var refresh = setInterval(function(){refreshResult();}, 1000);
        setTimeout(function() {clearInterval(refresh);}, 15010);
        
        function refreshResult()
        {
            $('#WAIT, #RUN').each(function() {
                var $this = $(this);
                var id = $this.attr('id');
                $.getJSON('api/contest/getResult', {'cid': ${cid!}, 'sid': ${solution.sid!}}, function(data) {
                    if (data.result.name != id) {
                        $this.attr('id', data.result.name);
                        $this.html(data.result.longName);
                        if (data.result.name == 'AC') {
                            $('.time').html(data.time);
                            $('.memory').html(data.memory);
                        }
                        clearInterval(refresh);
                      }
                });
            });
        }
    });

    SyntaxHighlighter.config.tagName = 'textarea';
    SyntaxHighlighter.all();
  </script>
</@override>
<@extends name="../contest/_layout.html" />
