<#include "../common/_layout.html" /> <@layout>
<h3 class="text-center">Contest ${cid!}: ${title!}</h3>
<div id="contest-password" class="row">
  <div class="span5 offset3">
    <form class="form-horizontal" action="contest/password" method="post">
      <input type="hidden" name="cid" value="${cid}"> <input type="hidden" name="title" value="${title}">
      <div class="control-group">
        <label class="control-label" for="inputPassword"> Password </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i> </span> <input type="password" id="inputPassword" name="password" placeholder="Password" required>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-success" value="Enter">
        </div>
      </div>
    </form>
  </div>
</div>
</@layout>
