<@override name="contest_content">
<div class="row" id="problem-status">
  <div class="span4">
    <h4>Statistics</h4>
    <table id="problem-status" class="table table-hover table-condensed table-bordered">
      <tbody>
        <tr>
          <td>Total Submissions</td>
          <td><a href="contest/status/${cid!}?pid=${id!}">${problem.submission!}</a></td>
        </tr>
        <tr>
          <td>Users (Submitted)</td>
          <td>${problem.submitUser}</td>
        </tr>
        <tr>
          <td>Users (Solved)</td>
          <td>${problem.solved}</td>
        </tr>
        <#if resultList??> <#list resultList as Result>
        <tr>
          <td id="${Result.name!}">${Result.longName!}</td>
          <td><a href="contest/status/${cid!}?pid=${id!}&result=${Result.result!}">${Result.count!}</a></td>
        </tr>
        </#list> </#if>
      </tbody>
    </table>
    <div id="container" style="min-width: 350px; height: 350px; margin: 0 auto"></div>
  </div>

  <div class="span8" id="ajax-container">
    <h4>
      Best solutions of Problem <a href="contest/problem/${cid!}-${id}" data-toggle="tooltip" title="${problem.title!}">${cid!}-${id}</a>
    </h4>
    <div class="pull-left btn-group ajax-loader">
      <a url="contest/problemStatus/${cid!}-${id!}<#if solutionList.pageSize!=20>?s=${solutionList.pageSize}</#if>"
        class="btn btn-warning ajax-loader<#if !language?? || language==-1> active</#if>">All</a> 
        <#if program_languages??> 
        <#list program_languages as Language> 
        <a url="contest/problemStatus/${cid!}-${id!}?language=${Language.id!}<#if solutionList.pageSize!=20>&s=${solutionList.pageSize}</#if>"
        class="btn btn-success ajax-loader<#if language?? && language==Language.id> active</#if>" type="a">${Language.name!}</a> 
        </#list> 
        </#if>
    </div>
    <div class="pull-right">
      <span class="badge badge-info">${solutionList.pageNumber}/${solutionList.totalPage} Pages</span> <span class="badge badge-info">${solutionList.totalRow}
        Records</span>
    </div>
    <table id="problem-status" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Run ID</th>
          <th>User</th>
          <th>Time</th>
          <th>Memory</th>
          <th>Language</th>
          <th>Code Length</th>
          <th>Submit Time</th>
        </tr>
      </thead>
      <tbody>
        <#if solutionList??> <#list solutionList.list as solution>
        <tr>
          <td class="id">${solution_index+1+(solutionList.pageNumber-1)*solutionList.pageSize}</td>
          <td class="sid">${solution.sid!}</td>
          <td class="user"><a href="user/profile/${(solution.name)!}">${(solution.name)!}</a></td>
          <td class="time">${solution.time!0} MS</td>
          <td class="memory">${solution.memory!0} KB</td>
          <td class="language"><#if user?? &&(adminUser?? || user.uid==solution.uid)><a href="${cid}-contest/code/${solution.sid!}" target="blank"
            title="show source code"></#if> ${solution.languageName!} <#if user?? &&(adminUser?? || user.uid==solution.uid)></a></#if>
          </td>
          <td class="code_len">${solution.codeLen!}B</td>
          <td class="ctime">${solution.ctime_t!}</td>
        </tr>
        </#list> </#if>
      </tbody>
    </table>
    <div class="pagination pagination-centered ajax-loader">
      <#include "../common/_paginate2.html" />
      <@paginate2 currentPage=solutionList.pageNumber totalPage=solutionList.totalPage actionUrl="contest/problemStatus/${cid!}-${id!}" urlParas="?id=${query!}" />
    </div>
  </div>
</div>
</@override>

<@override name="scripts">
<link rel="stylesheet" href="assets/tablecloth/css/tablecloth.css">
<script src="assets/tablecloth/js/jquery.metadata.js"></script>
<script src="assets/tablecloth/js/jquery.tablesorter.min.js"></script>
<script src="assets/tablecloth/js/jquery.tablecloth.js"></script>
<script src="assets/Highcharts/js/highcharts.js"></script>
<script src="assets/Highcharts/js/modules/exporting.js"></script>
<script type="text/javascript">
  $(function () {
    var chart;
    $(document).ready(function () {
        // Build the chart
        $('#container').highcharts({
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
          },
          title: {
            text: '<a href="${baseUrl!}/contest/problem/${cid!}-${id}" title="view the problem">Problem ${cid!}-${id} Statistics</a>'
          },
          subtitle: {
            text: 'Power OJ'
          },
          tooltip: {
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
              type: 'pie',
              name: 'Count',
              data: [
                <#if resultList??>
                <#list resultList as Result>
                {
                    name: '${Result.longName!}',
                    color: $('td#${Result.name!}').css('color'),
                    y: ${Result.count!}
                },
                </#list>
                </#if>
              ]
          }]
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    <#if oj_style != "slate">
    $("table#problem-status").tablecloth({
      theme:"stats",
      condensed:true,
      sortable:true,
      striped:true,
      clean:true
    });
    </#if>

    $('div.ajax-loader a').click(function() {
        var url = '${baseUrl!}/'+$(this).attr("url");
        if(url.indexOf('?')>0)
            url = url+'&ajax=1';
        else
            url = url+'?ajax=1';
        $('div#ajax-container').load(url);
    });
  });
</script>
</@override>
<@extends name="_layout.html" />
