<@override name="contest_content">
<div class="progress" id="contest-progress">
  <div class="bar" id="contest-bar"></div>
</div>
<h3 class="text-center">Contest ${contest.cid!}: ${contest.title!}</h3>
<div class="row text-center">
  <div clas="span4 offset4">
    <#if adminUser??>
    <div class="contest-admin">
      <a href="contest/edit/${contest.cid!}" class="btn btn-primary">Edit</a> 
      <a href="contest/show/${contest.cid!}" class="btn btn-primary">Manage</a>
    </div>
    </#if>
    <span>Start time</span>: <span class="time">${contest.start_time_t!}</span> 
    <span>End time</span>: <span class="time">${contest.end_time_t!}</span><br>
    <span>Current System Time</span>: <span class="time" id="current"></span> 
    <span>Contest Status</span>: <span class="status ${status!}">${status!}</span><br>
  </div>
</div>
<div class="row text-center">
  <div clas="span4 offset4">
    <p>${contest.description!}</p>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <table id="problem-list" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Problem ID</th>
          <th>Title</th>
          <th>AC</th>
          <th>Submit</th>
        </tr>
      </thead>
      <tbody>
        <#if contestProblems??> <#list contestProblems as Problem>
        <tr>
          <td class="result"><#if Problem.status??><i class="<#if Problem.status==0>oj-tick icon-ok<#else>oj-delete icon-remove</#if>"></i></#if>
          </td>
          <td class="pid">
            <#if adminUser??><a href="problem/show/${Problem.pid!}">${Problem.pid!}</a></#if>
            <a href="contest/problem/${contest.cid!}-${Problem.id!}" data-toggle="tooltip" title="${Problem.title!}">Problem ${Problem.id!}</a>
          </td>
          <td class="title"><a href="contest/problem/${contest.cid!}-${Problem.id!}">${Problem.title!}</a></td>
          <td class="accept"><a href="contest/status/${contest.cid!}?pid=${Problem.id!}&result=0">${Problem.accept!}</a></td>
          <td class="submit"><a href="contest/status/${contest.cid!}?pid=${Problem.id!}">${Problem.submit!}</a></td>
        </tr>
        </#list> </#if>
      </tbody>
    </table>
  </div>
</div>
</@override>

<@override name="scripts">
<link href="assets/tablecloth/css/tablecloth.css" rel="stylesheet">
<script src="assets/tablecloth/js/jquery.metadata.js"></script>
<script src="assets/tablecloth/js/jquery.tablesorter.min.js"></script>
<script src="assets/tablecloth/js/jquery.tablecloth.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var start_time = ${contest.start_time!0} * 1000;
    var end_time = ${contest.end_time!0} * 1000;
    var during_time = end_time - start_time;
    var current_time = ${serverTime!}*1000;
    function updateProgress() {
      current_time+=1000;
      if (current_time >= start_time && current_time <= end_time) {
        var percent = (current_time - start_time) / during_time * 100;
        $('#contest-bar').css('width', percent.toFixed(2) + '%');
      }
      $("#current").html(new Date(current_time).format("yyyy-MM-dd hh:mm:ss"));
    }
    setInterval(updateProgress, 1000);
    
    if (current_time >= start_time && current_time <= end_time) {
      $('#contest-progress').addClass('progress-danger progress-striped active');
    }
    
    <#if oj_style != "slate">
    $("#problem-list").tablecloth({
      theme:"stats",
      condensed:true,
      sortable:true,
      striped:true,
      clean:true
    });
    </#if>
});
</script>
</@override>
<@extends name="_layout.html" />
