#stage{
    background:#b78e61 url(image/bg-stage.jpg?ver=1) center 0 repeat-x scroll;
}
#block-main{
    background:url(image/bg-main.png) center top repeat-y;
}
#header{
    height:108px;
}
#logo-home-member{
    width:244px; height:69px;
    left:0; top:auto; bottom:2px;
    background:url(image/img-logo.png) left top no-repeat;
}
#block-title-banner{
    display: none;
}
#block-user-left .area-extra .space{
    background-color:#b87f53;
}
#block-user-left .area-extra a:hover{
    background-color:#c4946f;
}
#block-user-left .desc{
    color:#e3c87b;
}
#block-user-left .divider{
    border-top:1px dashed #9e6539; border-bottom:1px dashed #b87f53;
}
.part-guide-left .mainer a.active{
    color:#fad715;
}