<div style="height: 100%; background: #444; padding: 80px 0; margin: 0; font-size: 14px; line-height: 1.7; font-family: 'Helvetica Neue', Arial, sans-serif; color: #444;">
  <div style="margin: 0 auto; width: 680px; background: #FFF; box-shadow: 0 0 10px #333;">
    <div style="margin: 0 20px; color: #999; border-bottom: 1px dotted #DDD; padding: 20px 0 15px; font-size: 13px; text-align: center;">
      <h2>
        <a style="color: #2f96b4; text-decoration: none; font-size: 26px;" target="_blank"
           href="${baseUrl!}">
        ${siteTitle!PowerOJ}
        </a>
      </h2>
    </div>
    <div style="padding: 30px 40px 40px;">
      尊敬的${name!用户}：<br>
      您好，感谢您使用 ${siteTitle!PowerOJ}
      <br>
      <br>
      这是一封找回密码邮件，请点击此链接以重置密码：<br>
      <a style="color: #2f96b4; text-decoration: none;" target="_blank"
         href="${baseUrl!}/user/reset?name=${name!}&token=${token!}&t=${ctime!}">
      ${baseUrl!}/user/reset?name=${name!}&token=${token!}&t=${ctime!}
      </a>
      <br>
      如果链接不能点击，请复制地址到浏览器，然后直接打开。
      <br>
      上述链接${expires!30}分钟内有效。如果链接失效，请您登录网站 <a href="${baseUrl!}/user/forget">${siteTitle!PowerOJ}</a> 重新申请找回密码。
      <br>
      <br>
      <span style="float:right">${siteTitle!PowerOJ}</span>
      <br>
    </div>
    <div style="background: #EEE; border-top: 1px solid #DDD; text-align: center; height: 90px; line-height: 90px;">
      <a style="padding: 8px 18px; background: #2f96b4; color: #FFF; text-decoration: none; border-radius: 3px;"
         target="_blank" href="${baseUrl!}/user/reset?name=${name!}&token=${token!}&t=${ctime!}">
        重置密码
      </a>
      &nbsp;
      <a style="padding: 8px 18px; background: #2f96b4; color: #FFF; text-decoration: none; border-radius: 3px;"
         target="_blank" href="${baseUrl!}">
        访问网站 ➔
      </a>
    </div>
  </div>
</div>
