<@override name="content">

<div class="pagination pagination-centered">
  <#if adminUser??>
  <div class="pull-left notice-admin">
    <a href="news/add" class="btn btn-primary">Add a news</a> 
  </div>
  </#if>
  <#include "../common/_paginate.html" />
  <@paginate currentPage=newsList.pageNumber totalPage=newsList.totalPage actionUrl="news/" />
  <div class="pull-right">
    <span class="badge badge-info">${newsList.pageNumber}/${newsList.totalPage} Pages</span> 
    <span class="badge badge-info">${newsList.totalRow} Records</span>
  </div>
</div>

<table id="news-list" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th width="10%">No.</th>
      <th width="60%">Title</th>
      <th width="10%">Author</th>
      <th width="10%">Published Time</th>
      <th width="10%">Delete</th>
    </tr>
  </thead>
  <tbody>
    <#if newsList??> 
    <#list newsList.list as news>
      <tr>
        <td><a href="news/show/${news.id!}">${news.id!}</a></td>
        <td class="title"><a href="news/show/${news.id!}">${news.title!}</a></td>
        <td class="user">${news.author!}</td>
        <td class="timestamp" data="${news.time!}"></td>
        <td >
        <#if adminUser??>
        <a href="news/delete?id=${news.id}"><i class="icon-remove"></i></a>
        </#if>
        </td>
      </tr>
    </#list>
    </#if>
  </tbody>
</table>
</@override>

<@override name="scripts">
  
  <#if oj_style != "slate">
  <link rel="stylesheet" href="assets/tablecloth/css/tablecloth.css">
  <script src="assets/tablecloth/js/jquery.metadata.js"></script>
  <script src="assets/tablecloth/js/jquery.tablecloth.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.timestamp').each( function() {
        var that = $(this);
        that.html(parseTimestamp(that.attr('data')));
      });
      
      $("#news-list").tablecloth({
        theme:"stats",
        condensed:true,
        sortable:false,
        striped:true,
        clean:true
      });
    });
  </script>
</#if>
</@override>
<@extends name="../common/_layout.html" />
