<@override name="content">
<form class="form-horizontal" action="news/save" method="post">
  <div class="control-group notice <#if titleMsg??>error</#if>">
    <label class="ueditor control-label" for="inputTitle">Title</label>
    <div class="controls">
      <textarea id="inputTitle" name="news.title" rows="1" cols="120" required></textarea>
      <p class="text-error">${titleMsg!}</p>
    </div>
  </div>
  <div class="control-group notice">
    <label class="control-label" for="inputImagePath">Image path</label>
    <div class="controls" id="imagePath">
      <input size="16" type="text" name="imagePath" id="inputImagePath">
    </div>
  </div>
  
  <div class="control-group notice">
    <label class="control-label" for="inputAuthor">Author</label>
    <div class="controls" id="author">
      <input size="16" type="text" name="author" id="inputAuthor">
    </div>
  </div>
  
  <div class="control-group notice">
    <label class="ueditor control-label" for="inputContent">Content</label>
    <div class="controls">
      <textarea id="inputContent" name="news.content" rows="13" cols="120" required></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-info">Reset</button>
    </div>
  </div>
</form>
</@override>
<@override name="scripts">
  <link href="assets/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet" type="text/css"></link>
  <script src="assets/bootstrap-wysihtml5/lib/wysihtml5-0.3.0.min.js"></script>  
  <script src="assets/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.min.js"></script>
     
  <link href="assets/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet">
  <script type="text/javascript" src="assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>

  <script type="text/javascript">
    $('#inputContent').wysihtml5({
      html: true
    });
    
  
  </script>
</@override>
<@extends name="../common/_layout.html" />
