<@override name="content">
<h3 class="text-center">${news.title!}</h3>
<div class="row text-center">
  <div clas="span4 offset4">
    <#if adminUser??>
      <div class="notice-admin">
        <a href="news/edit/${news.id!}" class="btn btn-primary">Edit</a>
      </div>
    </#if>
    <span>Published time</span>: <span class="time">${news.publishTime!}</span><br>
    <span>Author</span>: <span class="name">${news.author!}</span>
    <span>View</span>: <span class="pts">${news.view!}</span><br>
  </div>
</div>
<div class="row content" id="notice-content">
  <div clas="span4 offset4">

    <pre><div class="cxImage"><img src="${news.image}"></div>
      </br>${news.content!}</pre>
  </div>
</div>

</@override>

<@override name="scripts">
</@override>
<@extends name="../common/_layout.html" />
