<@override name="content">
    <div class="header">
      <h1 class="page-title">导入题目</h1>
    </div>
    <ul class="breadcrumb">
      <li>
        <a href="admin">首页</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a href="admin/problem">题目管理</a>
        <span class="divider">/</span>
      </li>
      <li class="active"><a href="admin/problem/import">导入题目</a></li>
    </ul>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="well">
          <div id="container">
            <#if problemList??>
            <p class="lead">Imported ${problemList.size()} problems.</p>
            <ul>
            <#list problemList as problem>
            <#assign pid=problem.model.pid>
            <li>
            <#if problem.model.status>
            <i class="icon-ok"></i>
            <#else>
            <i class="icon-lock"></i>
            </#if>
            <a href="problem/show/${pid}" target="_blank">${pid}</a>: 
            <a href="admin/problem/show/${pid}">${problem.model.title}</a>
            <#if (problem.imageList?? && problem.imageList.size()>0)> <i class="icon-picture"></i> ${problem.imageList.size()} image(s).</#if>
            <#if (problem.dataIn?? && problem.dataIn.size()>0)> 
              <i class="icon-file"></i> ${problem.dataIn.size()} test data files.
            <#else>
              <i class="icon-file"></i> <strong>use sample as data files.</strong>
            </#if>
            <#if problem.solution??><span class="label label-info">Sample Code</span></#if>
            <#if problem.spj><span class="badge badge-important">Special Judged</span></#if>
            </li>
            </#list>
            </ul>
            </#if>
          </div>
        </div>
      </div>
    </div>
</@override>

<@override name="scripts">
</@override>
<@extends name="../_layout.html"></@extends>
