*.class
*.java~
oj-data.sql

# Package Files #
*.o
*.war
*.ear
*.log
*.iml
#build/
.gradle/
.idea/
.settings/
target/
src/main/webapp/WEB-INF/view/common/version.ftl
src/main/webapp/WEB-INF/view/common/compilers.ftl
src/main/resources/oj.properties

src/main/webapp/upload/
