<@override name="content">
<div class="honor">

  <h3 class="title-1">西南科技大学信息工程学院ACM荣誉墙</h3>
  <#if adminUser??>
    <div class="pull-right notice-admin">
      <a href="honor/add" class="btn btn-primary">Add a record</a>
    </div>
  </#if>
  <#if asiaList?? & (asiaList.size() > 0) >
    <h3 class="title-2">ACM-ICPC亚洲区预选赛</h3>
    <table class="table">
      <#list asiaList as asia>
        <tr>
          <th colspan="5" class="th">${asia.contest!}</th>
        </tr>
        <tr class="td">
          <td style="width: 30%;">${asia.team!}</td>
          <td style="width: 50%; word-spacing: 50px;">${asia.player!}</td>
          <td style="width: 20%;">${asia.prize!}</td>
        </tr>
      </#list>
    </table>
  </#if>
  <#if proList?? & (proList.size() > 0) >
    <h3 class="title-2">四川省大学生程序设计竞赛</h3>
    <table class="table">
      <#list proList as pro>
        <tr>
          <th colspan="5" class="th">${pro.contest!}</th>
        </tr>
        <tr class="td">
          <td style="width: 30%;">${pro.team!}</td>
          <td style="width: 50%; word-spacing: 50px;">${pro.player!}</td>
          <td style="width: 20%;">${pro.prize!}</td>
        </tr>
      </#list>
    </table>
  </#if>
</div>
</@override> <@extends name="../common/_layout.html" />
