/*guru.article.style*/
/*2012.8.13*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	*zoom:normal;
}
#stage{
	overflow:hidden;
	*zoom:1;
}
#mainer-inner-left{
	width:720px;
	position:relative;
	margin:0;
	padding:0;
}
.area-left{
	width:680px; height:auto;
}
.area-right{
	width:280px; height:auto;
}

.block{
	/*box-shadow:none;*/
}

#stage.location-article-video{
	background-image:url(image/bg-stage-video.png);
}
#share-article .hint{
	display:inline-block; *display: inline;
	height:24px; line-height:24px; width:auto;
	margin: 0 4px 0 0; padding:0 6px 0 8px;
	font-size:13px;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	text-align:left;
	background-color: #eee; color:#666;
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	float:left;
}
#area-tag .hint{
	background-color: #666666;
    border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0 4px 0 0;
    padding: 0 4px;
    text-align: left;
    width: auto;
	float:left;
}
/*Article*/
#area-title .area-title{
	width:696px;
	height:96px;
	margin:0;
	padding:8px;
	border-radius:2px;
	cursor:pointer;
	display:inline-block;
	*display:inline;
}
#area-title .area-title:hover{
	background-color:#444;
}
#area-title .btn{
	height:96px;
	width:96px;
	line-height:96px;
	margin:0 0 0 8px;
	padding:0;
	position:relative;
	float:right;
	background:none;
	background-color:#222;
	color:#fff;
	border:2px solid #333;
	border-radius:8px;
}
/*Title*/
#title-article{
	font-size:20px; font-weight:bold;
	width:760px; height:auto; line-height:24px;
	overflow:hidden;
	display:block;
	margin:0 0 8px 0; padding:0;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
.wide #title-article{
	width:980px;
}
#subtitle-article{
	height:28px;
	width:760px;
	line-height:1.4;
	border-top:1px solid #ddd;
	margin:0 0 16px; padding:4px 0 0;
	color: #999;
	font-size:12px;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
.wide #subtitle-article{
	width:960px;
}
#info-title{
	color:#999;
	display:inline-block; *display:inline;
}
#info-title .pts{
	color:#666;
}
#author-title{
	color:#999;
	height:32px;
	line-height:32px;
	font-size:13px;
	display:block;
}
#info-article{
	font-size:13px;
	display:block;
	width:auto;
	height:220px;
	margin:0;
	padding:0;
	color:#666;
}
#area-player{
	width:100%; height:auto;
	text-align:left;
	font-size:14px; line-height:1.6;
	margin:8px auto; padding:0;
	color:#333; background-color:transparent;
	position:relative; display:block;
	clear:both;
	z-index:1;
}
#area-player.video{
	text-align:center;
	min-height:480px; *min-height:auto;
	z-index:12;
}
#area-player.fullScreen{
	border-radius:8px;
	padding:10px;
}
#block-divider{
	clear: both;
	height: 2px; width: auto;
	background-color: #f9f9f9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.25);
	margin: 32px auto 0;
}
.location-article-video #block-divider{
	display: none;
	z-index:6;
}
#ACFlashPlayer-re{
	*zoom:1;
	margin:0 auto;
	position:relative;
	box-shadow:0 2px 8px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.9);
}
iframe#ACFlashPlayer-re{
	width:980px; height:480px;
	overflow-x:hidden; overflow-y:hidden;
	overflow:hidden;
	padding:0;
	border:none;
}
#ACFlashPlayer{
	display:none;
}
#area-player img{
	float:none;
	max-width:97.5%; *width:auto; line-height:0;
}
#item-player-shadow{
	width:980px; height:480px;
	text-align:center; line-height:460px;
	font-family:Michroma,'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif,Times;
	font-size:24px;
	color:#ccc;
	border:2px #ddd dashed; border-radius:8px;
	cursor:default;
	z-index:1;
}
/*Player*/
#area-tag{
	width:100%;
	height:auto;
	line-height:32px;
	margin:8px 0 16px;
	padding:0;
	color:#666;
}
/**/
#area-share{
	height:24px; width:auto; _width:256px;
	display: inline-block; *display: inline;
	margin: 0; padding: 0 4px;
	background-color: #eee;
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	float:left;
}
#area-share ul{
	display:block;
	height:24px;
}
#area-share li{
	height:24px; width:auto; _width:96px;
	line-height:24px;
	display:inline-block;
	*display:inline;
	position:relative;
}
.btn-share{
	width:16px;
	height:16px;
	margin:8px 2px 0 0;
}
/*share*/
#share-article{
	height:32px;
}
#area-article-info{
	float:right;
	height:32px; _height:64px;
	line-height:32px;
	font-size:14px;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	color:#666;
}
#area-article-info .item{
	margin-left:16px;
	float: right;
	display: inline-block; *display: inline;
	height: 16px; line-height: 16px;
	_height:64px;
}
#area-article-info .pts{
	font-size:28px; font-weight:bold; font-style: italic;
	font-family: Arial, Tahoma, Helvetica, Hiragino Sans GB;
	color:#555;
	position:relative;
	top:8px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
	letter-spacing:-0.1em;
	margin-right:8px;
	cursor:default;
}
/*Tag*/
.tag{
	display:inline-block;
	*display:inline;
	height: 16px; line-height: 16px;
	margin: 0 2px 4px 0;
	padding: 0 4px;
	border-radius: 1px;
	background-color: #aaa; color:#fff;
	font-size:12px;
	float:left;
}
.pop.tag{
	background-color: #888;
}
.tag:hover{
	background-color:#777;
}
.tag a{
	color:#fff;
}
.tag a:hover{
	color:#fff;
}
.tag .pts{
	color:#fff;
	font-size: 10px;
}
/*Desc*/
#area-author-info{
	float: right;
	width: 165px; height:90px;
	text-align: left;
	margin: 0;
}
.img-hidden #area-author-info{
	width:262px;
}
#name-author{
	font-size:14px;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	top:0; left:0;
	margin:0; padding: 0;
	height:16px;
	line-height:16px;
	overflow:hidden;
	color:#c66;
}
#mail-author .icon{
	margin:1px 0 0 2px;
}
#mail-author .icon:hover{
	background-image:url(image/icon.png);
}
.area-tool{
	left:8px;
	bottom:2px;
	text-align:left;
	position:absolute;
	height:32px;
	width:475px;
}
/*Tool*/
.btn-tool{
	*zoom:1;
}
#block-author-card{
	width:100%;
	height:auto;
	margin:0 auto 16px;
	padding:0;
	position:relative;
	background-color:#fff;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
#block-author-card{
	padding:8px;
}
#block-author-card li{
	width:33%;
	height:48px;
	line-height:16px;
	display:inline-block;
	*display:inline;
	float:left;
	text-align:right;
	font-size:13px;
	padding-top:8px;
}
#function-user{
	width:100%;
	height:32px; line-height:32px;
	left:0; top:0;
	margin:0 auto; padding:0;
	clear: both;
	overflow: visible;
	text-align:right;
	color:#666;
	border-top:1px #ddd dashed;
}
#area-pts{
	float: right;
    height: 24px; line-height: 24px;
    margin: 4px 0 0; padding: 0;
    position: relative;
	color:#999;
}
#area-pts a{
	color:#789;
}
#function-user .pts{
	margin:0 0 0 4px;
	font-size:20px;
	font-family: candara;
	color:#bbb;
}
#function-user .area{
	display:inline-block; *display:inline;
	float:left;
	width:auto; height:auto;
}
#function-user .area .btn{
	margin-top:4px;
	min-width:0; width:auto; height:24px; line-height:22px;
	font-size:12px;
}
#location-author{
	height:16px;
	line-height:16px;
	font-size:12px;
	overflow:hidden;
	position:absolute;
	right:120px;
	top:44px;
}
#area-video{
	width:650px;
	height:108px;
	right:0;
	bottom:0;
	border-radius:4px;
	border:1px solid #ccc;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow:none\9;
	margin:0;
	padding:8px;
	position:absolute;
	background-color:#f9f9f9;
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) , to(#e6e6e6) );
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
}
#area-video .area-left{
	position:absolute;
	left:0;
	top:0;
}
#area-video .area-right{
	right:0;
	top:0;
	height:100%;
	width:160px;
	border-left:1px dashed #ddd;
}
#info-mimiko{
	width:480px;
	height:100px;
	left:0;
	top:4px;
	position:absolute;
	margin:0 4px 0 0;
}
#info-mimiko li{
	display:inline-block;
	*display:inline;
	position:relative;
	width:50%;
	height:32px;
	line-height:32px;
	float:left;
}
#info-mimiko .tip{
	color:#08c;
	display:block;
	position:absolute;
	height:32px;
	line-height:32px;
	width:48px;
	font-size:13px;
	text-align:right;
}
#info-mimiko .data{
	text-align:center;
	color:#fff;
	background-color:#c00;
	position:absolute;
	height:16px;
	line-height:16px;
	width:16px;
	font-size:12px;
	font-family:candara;
	border-radius:2px;
	left:48px;
	top:8px;
}
#area-points{
	position:absolute;
	width:100%;
	height:50%;
	right:0;
	top:0;
}
#area-temp{
	position:absolute;
	width:100%;
	height:50%;
	right:0;
	top:50%;
	border-top:1px dashed #ddd;
}
#area-points .tip, #area-temp .tip{
	font-size:12px;
	display:block;
	position:absolute;
	left:8px;
	top:4px;
	height:32px;
	line-height:32px;
	color:#08c;
}
#area-points .points, #area-temp .points{
	font-size:32px;
	font-weight:bold;
	display:block;
	position:absolute;
	right:16px;
	bottom:8px;
	color:#c00;
}
#area-favor{
	background:#ddd;
	position:absolute;
	width:100%;
	height:50%;
	right:0;
	top:50%;
}
#thumb-avatar-author{
	float: left;
	margin: 0;
	position:relative;
}
.img-hidden #thumb-avatar-author{
	display:none;
}
.img-hidden #name-author, .img-hidden #sign-author{
	margin-left:0;
}
#avatar-author, #thumb-avatar-author .cover{
	width:80px;
	height:80px;
	line-height:16px;
}
#thumb-avatar-author .t{
	position:absolute;
	top:auto; left:2px; bottom:2px;
	background-color:rgba(255,255,255,1); color:#c66;
	border-radius:0 0 0 4px; /*border:1px solid #999; border-left:none; border-bottom:none;*/
	height:12px; line-height:12px; width:auto; padding:0 4px 0 2px;
	font-size:10px;
	display:none;
}
#block-author-card .divider{
	border-bottom:1px solid #ddd;
	height:1px; line-height:1px;
	margin:4px auto;
}
#sign-author{
	color:#666;
	display:block;
	overflow:hidden;
	font-size:12px;
	font-family:"Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	line-height:18px;
	height: 54px;
	width:auto;
	left:0;
	top:0;
	margin:4px 0;
	padding:0;
}
#area-desc{
	font-size:14px;
	line-height:16px;
	width:100%;
	height:auto;
	margin:8px 0 0 0;
	padding:0;
	color:#666;
	position:relative;
}
#desc-article{
	margin:0;
	padding:8px;
	background-color:#eee;
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	top:0;
	left:0;
	height:auto;
	width:100%;
	line-height:16px;
	font-size:13px;
	color:#666;
	overflow:hidden;
}
/**/
#area-pager{
	height: auto;
	margin: 8px 0;
	padding: 0;
}
#area-pager .mainer{
	display:inline-block; *display:inline;
	float:left;
}
.location-article .area-pager{
	margin: 8px 0;
	padding: 0;
}
#area-pager .inner{
	overflow: auto;
}
#area-pager .pager{
	margin: 0 4px 4px 0; padding: 0 8px;
	background:none;
	background-color:#798;
	border-radius:1px;
}
#area-pager .pager:hover{
	background-color:#2F96B4;
}
#area-pager .active{
	background-color:#08c; color:#fff;
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
#area-pager .active:hover{
	background-color:#06c;
}
#area-pager .active .icon{
	background-image:url(image/icon-white.png);
}
#area-pager .active:hover .icon{
	background-image:url(image/icon-white.png);
}
#area-pager .icon{
	margin: 2px 4px 0 0;
}
#area-pager #pager-more{
	background:none;
	background-color:#08c;
	color:#fff;
}
#area-pager #pager-more:hover{
	background-color:#06c;
}

#area-pager.block{
	padding:16px;
}
#area-pager.block .mainer{
	display:block; float:none;
	height:256px;
	overflow-x:hidden;
	overflow-y:scroll;
}
#area-pager.block .pager{
	display:block;
	float:none;
	text-align:left;
	background:none; color:#666;
	box-shadow:none;
	border:none; border-radius:0; border-bottom:1px solid #eee;
	margin:0;
}
#area-pager.block .pager .icon{
	background-image:url(image/icon-gray.png);
}
#area-pager.block .pager:hover{
	background-color:#eee; color:#333;
}
#area-pager.block .pager:hover .icon{
	background-image:url(image/icon.png);
}
#area-pager.block .active{
	background-color:#08c; color:#fff;
}
#area-pager.block .active:hover{
	background-color:#08c; color:#fff;
}
#area-pager.block .active .icon{
	background-image:url(image/icon-white.png);
}
#area-pager.block .active:hover .icon{
	background-image:url(image/icon-white.png);
}

#area-pager.block #pager-more{
	background:none;
	background-color:#08c;
	color:#fff;
	display:inline-block; *display:inline;
	float:none;
	margin:8px 0 0;
}
#area-pager.block #pager-more .icon{
	background-image:url(image/icon-white.png);
}
#area-pager.block #pager-more:hover{
	background-color:#06c;
}
/*Other Video*/
#area-video-other .tab{
	width:128px;
}
#area-video-other{
	height:auto;
	width:100%;
	text-align:left;
	margin-bottom:16px;
	*zoom:1;
	z-index:0;
}
#area-video-other li{
	background-color:transparent!important;
	margin:2px 0; padding:0 0 0 10px;
	width:139px; height:140px;
	display:inline-block; *display:inline;
	float:left;
	border:none;
}
.img-hidden #area-video-other li{
	width:100%; text-align:left;
	float:none;
	display:block;
	height:32px; line-height:32px;
}
#area-video-other .c{
	position:absolute;
	right:0; top:-32px;
	margin:0; padding:0;
	width:96px;
}
#area-video-other .c .more{
	top:-2px;
}
#area-video-other .item-tabb{
	width:100%; height:100%;
	text-align:left; line-height:0;
	position:relative;
	overflow:hidden;
	border:none;
}
#area-video-other li:nth-of-type(2n) .item-tabb{
	background-color:transparent;
	border-color:#fff;
}
#area-video-other .thumb{
	margin:4px 0 0 0px;
	position:relative;
}
#area-video-other .preview{
	width:120px;
	height:90px;
}
#area-video-other .title{
	font-size:12px;
	height:32px; width:124px;
	margin:4px 0 0;
	line-height:16px;
	overflow:hidden; display:block;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#area-video-other .info{
	display:block; position:relative;
	color:#999;
	height:20px; line-height:20px; width:124px;
	overflow:hidden;
	background-color:#fefefe;
	margin:-16px 0 0;
}
#area-video-other .info .l{
	float:left;
	padding-left:2px;
}
#area-video-other .info .r{
	float:right;
	padding-right:2px;
}
.img-hidden #area-video-other .title{
	position:static;
	height:32px; line-height:32px;
	width:auto;
}
#area-video-other .item-tabb:hover .title{
	color:#ff0163;
}
#area-comment{
	text-align:center;
	display:block; position:relative;
	overflow:hidden;
	width:100%;
	*zoom:1;
}
#area-comment-inner{
	width:auto;
	margin:auto; padding:16px;
	position:relative;
}
#area-comment .banner .more{
	height:32px; line-height:32px;
	margin:0 4px 0 0;
	border-radius:0;
}
#area-comment .banner .more:hover{
	background:none;
	border:none;
	box-shadow:none;
}
/*Comment*/
#btn-showComm{
	width:256px; height:64px; line-height:64px;
	font-size:24px; font-weight:bold;
	float:none;
	margin:8px auto;
	display:none;
}
/*Comment*/
.item-comment-divider{
	position:relative;
	width:100%;
	height:24px;
	padding:0;
	margin:8px auto;
	*zoom:1;
	background-color:#f5f8fd;
}
.item-comment{
	position:relative;
	width:100%;
	height:auto;
	padding:2px 2px 8px;
	margin:4px auto;
	border-bottom:1px #eee solid;
	color:#333;
	*zoom:1;
	text-align:left;
}
.item-comment:hover{;
}
.item-comment-quote{
	position:relative;
	width:auto;
	height:auto;
	padding:5px;
	border:1px #ccc solid;
}
.item-quote-hidden{
	display:block;
	position:relative;
	background-color:#f9f9f9;
	color:#999;
	width:100%; *width:98%;
	height:auto;
	font-size:13px;
	text-align:left;
	border:1px dashed #ccc;
	margin:4px auto;
	padding:4px 1%;
	cursor:pointer;
}
.item-comment-first .floor-comment{
	display:none;
}
.area-comment-left{
	width:60px;
	height:60px;
	float:left;
	left:0;
	bottom:0;
	margin-top:5px;
	position:relative;
}
.area-comment-right{
	margin:5px 0 20px 65px;
	width:auto;
	height:auto;
	position:relative;
	text-align:left;
}
/*Left*/
.area-comment-left .thumb{
	position:relative;
	border:none; background:none;
	margin:0; padding:0;
	border-radius:0; box-shadow:none;
}
.area-comment-left .avatar{
	width:55px; height:55px;
	margin:0; padding:0;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
}
.img-hidden .area-comment-left, .avatar-hidden .area-comment-left{
	display:none;
}
.img-hidden .area-comment-right, .avatar-hidden .area-comment-right{
	margin-left:0;
}
/*Right*/
.area-comment-right .content-comment{
	font-size:13px;
	display:block;
	width:auto;
	margin:0;
	padding:5px 0;
	white-space:pre-wrap;
	word-wrap:break-word;
}
.content-comment embed{
	display:none;
}
.item-comment .content-comment .name{
	color:#369;
	font-size:13px; line-height:normal;
}
#desc-article .btn, .content-comment .btn{
	float:none;
	border-radius:2px;
	margin:0 4px;
	min-width:32px; width:auto; height:24px; *width:auto;
	line-height:20px;
	color:#333;
}
.area-comment-right .icon-talk-left{
	display:none;
	position:absolute;
	left:-7px;
	top:32px;
	width:8px;
	height:15px;
	background-position:-32px -80px;
}
/*Comment*/
.item-comment-quote{
	position:relative;
	width:auto;
	height:auto;
	padding:2px;
	margin:2px;
	border:1px solid #dddddd;
    border-top:1px solid #ebebeb;
    border-bottom: 1px solid #b7b7b7;
	text-align:left;
	background-color:transparent;
	background-color:#ffe;
}
.item-comment-quote:hover{
	background-color:#ffe;
}
.item-comment-quote .content-comment{
	font-size:13px;
	display:block;
	width:auto;
	border:none;
	color:#333;
	margin:6px 4px 0;
	padding:0 0 2px;
	white-space:pre-wrap;
	word-wrap:break-word;
}
.content-comment{
	line-height:1.4;
}
.content-comment a{
	color:#369;
}
.item-comment-quote .icon-talk-left{
	display:none;
}
.item-comment-quote-simple{
	border:1px solid #dddddd;
    border-bottom: 1px solid #b7b7b7;
	border-top: none;
	margin:4px 2px 2px 2px;
	padding:4px 0 0 0;
}
.item-comment-quote-simple .area-simple-inner{
	border:1px solid #ccc;
	border-top:none;
	margin:2px;
}
.area-simple-inner .area-tool-comment{
	display:none;
	*display:inline;
}
.area-simple-inner:hover .area-tool-comment{
	display:inline;
}
.item-comment-quote-hide{
	border:none;
	margin:0;
	padding:0;
}
.comment-hide{
	color:#999;
}
.item-comment-quote-hide .area-comment-quote-simple-inner{
	border:1px solid #ccc;
	border-top:0;
	margin:2px;
	padding:10px;
}
.index-comment{
	font-size:12px;
	color:#999;
	cursor:default;
}
.floor-comment{
	font-size:12px;
	position:absolute;
	float:right;
	right:8px;
	bottom:0;
	text-align:right;
	*zoom:1;
	cursor:default;
}
#area-comment .area-comment-page{
	text-align:left;
	margin:10px 0;
	height:32px;
}
.info-comment{
	padding:4px;
	margin:8px 0;
	font-size:13px;
	color:#fff;
	background-color:#08c;
	text-align:left;
	display:block;
	border-radius:2px;
}
.author-comment{
	color:#aaa;
	position:relative;
	display:block;
	width:auto;
	margin:0 0 2px;
	padding:0 0 0 8px;
	*zoom:1;
	font-size:13px;
}
.last.author-comment{
	background-color:#f5f8fd;
	height:24px; line-height:24px;
}
.area-tool-comment{
	margin-left:8px;
	display:none; *display:inline;
}
.last.author-comment .area-tool-comment{
	display:inline-block; *display:inline;
}
.content-comment:hover~.author-comment>.area-tool-comment, .author-comment:hover .area-tool-comment{
	display:inline-block; *display:inline;
}
.area-tool-comment a{
	display:inline-block; *display:inline;
	margin:0 2px; padding:0;
	font-size:12px;
	color:#789;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
.area-tool-comment a:hover{
	color:#c33;
}
.item-comment .name{
	color:#999;
}
.item-comment .date{
	color:#999;
}
/*editor*/
#editor{
	text-align:left;
	*zoom:1;
	margin:16px 0 8px;
}
#item-editor-shadow{
	height:320px; width:980px;
	line-height:300px; text-align:center;
	cursor:pointer;
	font-size:24px;
	color:#999;
	border:2px dashed #ccc;
	border-radius:8px;
	font-family:Michroma,'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif,Times;
	margin:16px 0 8px;
}
#item-editor-shadow-top{
	height:32px; width:980px;
	line-height:28px; text-align:center;
	cursor:pointer;
	font-size:15px;
	color:#999; background-color:#fff; border-top: 1px solid #FFFFFF;
	font-family:Michroma,'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif,Times;
	margin:16px 0;
}
#item-editor-shadow-top .icon{
	margin-top:3px;
}
#item-editor-shadow-top:hover{
	background-color: #FAFAFA;
	color:#666;
}
#item-editor-shadow-top.active{
	background-color:#f9f9f9;
	border:1px solid #ddd; border-radius:8px;
	line-height:160px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	cursor:default;
}
#edui9 *{
	box-sizing:content-box !important;
	-moz-box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
}
#area-replyer{
	width:670px;
	margin:24px 0;
	padding:0;
	text-align:center;
	*zoom:1;
	*height:320px;
}
#area-quoter{
	width:auto; height:auto;
	position:absolute;
	margin:16px 0;
	padding:0;
	text-align:center;
	*zoom:1;
	display:none;
}
#area-quoter-space{
	width:auto;
	height:280px;
}
#btn-quote, #btn-apply{
	display:block;
	float:none;
	margin:8px 0;
	width:96px;
}
#btn-download{
	display:none;
}
/*Emotion*/
.emotion{
	max-height:80px;
	max-width:80px;
	_width:80px;
	_height:80px;
}
.img-hidden .emotion, .emotion-hidden .emotion{
	display:none;
}
/*replyer*/
/*lightbox*/
#block-manga{
	margin:0; padding:4px;
	left:0; top:0;
	width:100%; height:auto;
	border-radius:2px;
	box-shadow:0 0 2px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
	position:relative;
	text-align:center;
	z-index:6;
	background-color:#fff;
}
#block-manga-inner{
	background:#333 url(image/bg-manga.png) center center repeat;
	_background-image:none;
	margin:0;
	border-radius:2px;
	position:relative;
	text-align:center;
	overflow:hidden;
	z-index:7;
}
#pager-manga{
	color:#666;
	margin:0;
}
#area-player #img-manga{
	display:block;
	margin:0 auto;
	max-width:100%; min-height:320px; max-height:840px;
	width:auto; height:auto;
	position:relative;
	box-shadow:none;
	border-radius:0;
	background:url(image/bg-trans.png) left top repeat;
}
#prev-manga, #next-manga{
	width:32px; height:64px;
	line-height:64px;
	font-size:32px; font-weight:bold;
	background-color:#fff;
	color:#777;
	position:absolute;
	z-index:1;
	cursor:pointer;
	box-shadow:0 0 2px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
	font-family:Palatino;
	display:none;
}
#prev-manga:hover, #next-manga:hover{
	color:#666;
	box-shadow:0 0 2px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.5);
}
#prev-manga:active, #next-manga:active{
	color:#555;
	box-shadow:0 0 2px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
}
#prev-manga{
	left:0; top:45%;
	text-align:left;
	border-radius:0 48px 48px 0;
}
#next-manga{
	right:0; top:45%;
	text-align:right;
	border-radius:48px 0 0 48px;
}
/*img-hidden*/
.img-hidden #btn-avatar, .img-hidden #btn-emotion{
	display:none;
}
#img-avatar-extra{
	width:auto;
	height:auto;
	border-radius:2px;
	border:1px solid #ddd;
	position:absolute;
	filter:alpha(opacity=0);
	opacity:0;
	*zoom:1;
}
/*weibo*/
.icon-weibo{
	display:inline-block;
	*display:inline;
	background-image:url(image/icon-weibo.png);
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	position:relative;
	top:4px;
	margin:0 2px 0 0;
}
.icon-weibo-qq{
	background-position:-16px 0;
}
/*ad*/
#ad-comment{
	height:90px;
	width:100%;
	margin:16px auto;
	text-align:left;
}
/*Recom*/
#list-recom{
	margin:10px 0 0 0;
	width:240px;
	background-color:#f9f9f9;
	border-bottom:4px solid #f9f9f9;
}
#list-recom .banner{
	border:1px solid #ddd;
	border-radius:2px;
}
#list-recom .banner .tab{
	border:none;
	border-left:4px solid #c00;
	height:16px;
	line-height:16px;
	font-size:14px;
	margin:8px 0 0 8px;
	padding-left:4px;
	background-color:transparent;
}
.item-recom{
	margin:0;
	padding:5px 0 5px 10px;
	font-size:14px;
	display:block;
	position:relative;
	background-color:#fff;
	display:block;
	position:relative;
	width:auto;
	height:60px;
	*height:50px;
}
#list-recom li:nth-of-type(2n) .item-recom{
	background-color:#f9f9f9;
	border-color:#f9f9f9;
}
#list-recom .title{
	display:block;
	font-size:13px;
	word-break:break-all;
	overflow:hidden;
	left:8px;
	top:8px;
	position:absolute;
	height:16px;
	width:220px;
	line-height:16px;
}
.item-recom:hover .title{
	color:#ff0163;
}
.item-recom:visited .title{
	color:#666;
}
#list-recom .info-extra{
	font-size:11px;
	margin:4px;
	display:block;
	position:absolute;
	left:8px;
	top:30px;
	height:16px;
	line-height:16px;
	overflow:hidden;
}
/**/
#area-first{
	margin:16px 0;
	*zoom:1;
}
#area-second{
	margin:16px 0;
	*zoom:1;
}

/**/
#shadow-float-article{
	position:absolute;
	top:0;
	left:-64px;
	height:1px; width:1px;
	z-index:-1;
}
#func-article ul{
	height:160px;
	text-align:center;
	padding-top:16px;
	font-size:64px; line-height:96px;
	color:#ccc;
	text-align:0 4px 8px rgba(0,0,0,0.8);
}
/**/
#area-tool{
	display:block;
	height:64px; width:auto;
	position:absolute;
	right:0; top:-4px;
}
#area-tool .item-tool{
	display:inline-block; *display:inline;
	float:left;
	width:54px; height:72px;
	text-indent:-999px;
	background-image:url(image/sprite.png);
	background-repeat:no-repeat;
	cursor:pointer;
	overflow:hidden;
	position:relative;
}
#area-tool .item-tool .pts{
	display:block;
	position:absolute;
	width:auto; height:16px; line-height:16px; text-align:center;
	font-size:11px; font-weight:bold;
	right:2px; top:28px;
	margin:0; padding:0 4px;
	background-color:#08c; color:#fff;
	border-radius:2px; box-shadow:0 1px 1px rgba(0,0,0,0.1);
	text-indent:0;
}
#btn-favor{
	background-position:0 -504px;
}
#btn-favor:hover{
	background-position:0 -576px;
}
#btn-favor.favored{
	background-position:-54px -504px;
}
#btn-favor.favored:hover{
	background-position:-54px -576px;
}
#btn-mail{
	background-position:-108px -504px;
}
#btn-mail:hover{
	background-position:-108px -576px;
}
#btn-comm{
	background-position:-162px -504px;
}
#btn-comm:hover{
	background-position:-162px -576px;
}
#btn-share{
	background-position:-216px -504px;
}
#btn-share:hover{
	background-position:-216px -576px;
}
/**/
#area-editor{
	position:relative;
	margin:8px auto 32px;
}
#area-title{
	position:relative;
	margin:32px 0 0;
}
#area-article-bottom{
	margin-top:8px;
	padding-top:8px;
	width:100%;
}
/**/
.btn-share-window{
	width:256px; height:64px;
	background-color:#eee;
	margin:8px auto 0;
	cursor:pointer;
	background-image:url(image/sprite.png);
}
#btn-share-window-sina{
	background-position:-270px -576px;
}
#btn-share-window-qq{
	background-position:-540px -576px;
}
.btn-share{
	display:inline-block; *display:inline;
	height:16px; line-height:16px; width:auto; text-align:left;
	font-size:13px;
	margin:0 8px;
}
.btn-share img{
	float:left;
	margin:0 4px 0 0;
}
#report-title{
	color: #c66;
	font-size: 12px;
}
/**/
#btn-player-change{
	float:none;
	width:100%;
	display:block;
	margin:0 auto 8px;
	border-radius:2px;
}
/**/
.divider{
	height:4px;
	clear:both;
}
/**/
#img-comm{
	cursor:pointer;
	max-width:800px; max-height:600px;
	border-radius:0;
	background:url(image/bg-trans.png) left top repeat;
	float:left;
}

#btn-danmaku-player{
	float:right;
	margin:0;
	width:80px;
}
.js .nojs{
	display:none;
}
/**/
#area-bottom-manga{
	position:relative;
	width:auto; height:auto;
	border-top:1px #ddd dashed;
	margin:4px auto 0; padding:0;
}
#btn-manga-mode{
	float:none;
	margin:8px auto 16px;
	display:block;
	width:256px;
}
#area-tool-manga{
	position:absolute;
	top:8px; right:2px;
}
/**/
#btn-comm-footer .pts{
	display:block; position:absolute;
	width:auto; height:16px; line-height:16px; text-align:center;
	font-size:11px;
	right:-2px; top:0;
	margin:0; padding:0 4px;
	background-color:#c33; color:#fff;
	border-radius:2px;
	text-indent:0;
	cursor:pointer;
}
/**/
#block-parter{
	height:1px; width:980px;
	position:absolute;
	display:none;
}
#block-parter a{
	width:128px; height:96px;
	line-height:94px;
	border:1px solid #ddd; border-radius:16px;
	font-size:32px; font-weight:bold;
	background-color:#fff;
	color:#999;
	position:absolute;
	z-index:0;
	cursor:pointer;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	font-family:Palatino;
	transition:0.2s ease all 0.2s;
}
#block-parter a:hover{
	color:#333; background-color:#f9f9f9;
}
#block-parter .l{
	left:-48px; top:-320px;
	text-align:left;
	padding-left:24px;
}
#block-parter .l:hover{
	left:-64px;
}
#block-parter .r{
	left:auto; right:-48px; top:-320px;
	text-align:right;
	padding-right:24px;
}
#block-parter .r:hover{
	right:-64px;
}
/**/
#btn-refresh-footer{
	display:none;
}
#btn-comm-footer{
	display:block;
}
#ifr-ac-comm{
	width:980px; height:480px;
}
#item-dom-insert{
	z-index:-1;
	position:absolute;
}