<@override name="content">

<#if type == 5>
  <#assign typename = "作业" />
</#if>
<#if type == 6>
  <#assign typename = "实验" />
</#if>
<#if type == 7>
  <#assign typename = "实验考试" />
</#if>
<#if type == 8>
  <#assign typename = "课程考试" />
</#if>

<div class="header">
  <h1 class="page-title">C程序设计后台管理</h1>
</div>

<ul class="breadcrumb">
  <li class="active">
    <#if type == 0>
      首页
    <#else>
      ${typename!}管理
    </#if>
  </li>
</ul>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="well">
      <#if type == 0>
        <div id="container">
          <table id="system-info" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th>系统信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>JAVA</td>
              <td>${javaVendor!} ${javaVersion!}</td>
            </tr>
            <tr>
              <td>JAVA Runtime Environment</td>
              <td>${JREName!} ${JREVersion!}</td>
            </tr>
            <tr>
              <td>OS</td>
              <td>${OSName!} ${OSVersion!} ${OSArch!}</td>
            </tr>
            <tr>
              <td>MySQL Version</td>
              <td>${mysql!}</td>
            </tr>
            <tr>
              <td>Timezone</td>
              <td>${timezone!}</td>
            </tr>
            <tr>
              <td>File Encoding</td>
              <td>${fileEncoding!}</td>
            </tr>
            </tbody>
          </table>
        </div>
      <#else>
        <#if action?? && action != "add">
          <div class="form-inline">
            <form class="form-search" action="cprogram/admin/search?type=${type}" method="post">
              <select class="input-medium" id="contestID" name="cid">
                <option value="">${typename}名称</option>
                <#list contestList as item>
                  <option value="${item.cid}" <#if contest?? && contest.cid == item.cid>selected</#if> >
                  ${item.title}
                  <#if type == 5>
                       ${weeks.get(item.week!)!} ${lectures.get(item.lecture!)!}
                  </#if>
                  </option>
                </#list>
              </select>
              <#if type != 5>
                <select class="input-medium" id="week" name="week">
                  <#list weeks.keySet() as week>
                    <option value="${week!}" <#if WEEK?? && WEEK == week>selected</#if> >
                    ${weeks.get(week!)}
                    </option>
                  </#list>
                </select>
                <select class="input-medium" id="lecture" name="lecture">
                  <#list lectures.keySet() as lecture>
                    <option value="${lecture!}" <#if LECTURE?? && LECTURE == lecture>selected</#if> >
                    ${lectures.get(lecture!)}
                    </option>
                  </#list>
                </select>
              </#if>
              <button type="submit" class="btn btn-info">提交</button>
              <a class="btn btn-success" href="cprogram/admin?type=${type}&action=add">新建${typename}</a>
            </form>
          </div>
        </#if>
        <#if action?? && action == "add">
          <form class="form-horizontal" id="createContest" action="cprogram/admin/save?type=${type!}" method="post">
            <div class="control-group contest">
              <label class="control-label" for="inputTitle">
                ${typename}内容
              </label>
              <div class="controls">
                <textarea id="inputTitle" name="contest.title" rows="1" cols="40" required>${title!}</textarea>
              </div>
            </div>
            <#if type == 5>
              <div class="control-group">
                <label class="control-label" for="uid">任课教师</label>
                <div class="controls">
                  <div class="input-prepend">
                    <select name = "contest.uid" id="uid">
                        <#list teacherList as teacher>
                          <option value="${teacher.uid!}" <#if teacher.uid == user.uid>selected</#if> >
                            ${teacher.realName!}
                          </option>
                        </#list>
                    </select>
                  </div>
                </div>
              </div>
            </#if>
            <#if type != 6>
              <div class="control-group contest">
                <label class="control-label" for="class_week">
                  <#if type == 5>
                    上课时间
                  <#else>
                      考试时间
                  </#if>
                </label>
                <div class="controls">
                  <div class="input-prepend">
                    <select name = "contest.lockBoardTime" id = "class_week" style="width: 124px">
                      <#if weeks??>
                        <#list weeks.keySet() as week>
                          <option value="${week!}" >${weeks.get(week!)}</option>
                        </#list>
                      </#if>
                    </select>
                    <select name = "contest.unlockBoardTime" id = "class_lecture" style="width: 124px">
                      <#if lectures??>
                        <#list lectures.keySet() as lecture>
                          <option value="${lecture!}">${lectures.get(lecture!)}</option>
                        </#list>
                      </#if>
                    </select>
                  </div>
                </div>
              </div>
            </#if>
            <div class="control-group contest">
              <label class="control-label" for="inputStartTime">开始时间</label>
              <div class="controls input-append date form_datetime" id="startTime">
                <input size="16" type="text" name="startTime" id="inputStartTime" value="${startTime!}" readonly required>
                <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="control-group contest">
              <label class="control-label" for="inputEndTime">结束时间</label>
              <div class="controls input-append date form_datetime" id="endTime">
                <input size="16" type="text" name="endTime" id="inputEndTime" value="${endTime!}" readonly required>
                <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" id="submitContest" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-info">重置</button>
              </div>
            </div>
          </form>
        </#if>
        <#if action?? && (action == "manager" || action == "edit" || action == "score") >
          <ul class="nav nav-tabs" id="contest_nav" style="width:98%">
            <li class="<#if action=="manager">active</#if>">
              <a href="cprogram/admin/?type=${type}&action=manager${query!}">管理</a>
            </li>
            <li class="<#if action=="edit">active</#if>">
              <a href="cprogram/admin/?type=${type}&action=edit${query!}">编辑</a>
            </li>
            <li class="<#if action=="score">active</#if>">
              <a href="cprogram/admin/?type=${type}&action=score${query!}">成绩</a>
            </li>
          </ul>
        </#if>
        <#if action?? && action == "edit">
          <form class="form-horizontal" id="createContest" action="cprogram/admin/update/?type=${type}${query!}" method="post">
            <div class="control-group contest">
              <label class="control-label" for="inputTitle">
                ${typename}内容
              </label>
              <div class="controls">
                <textarea id="inputTitle" name="contest.title" rows="1" cols="40" required>${contest.title!}</textarea>
              </div>
            </div>
            <#if contest.type == 5>
              <div class="control-group">
                <label class="control-label" for="uid">任课教师</label>
                <div class="controls">
                  <div class="input-prepend">
                    <select name = "contest.uid" id="uid">
                        <#list techerList as teacher>
                          <option value="${teacher.uid!}" <#if teacher.uid == contest.uid>selected</#if> >
                            ${teacher.realName!}
                          </option>
                        </#list>
                    </select>
                  </div>
                </div>
              </div>
            </#if>
            <#if contest.type != 6>
              <div class="control-group contest">
                <label class="control-label" for="class_week">
                  <#if contest.type == 5>
                    上课时间
                  <#else>
                    考试时间
                  </#if>
                </label>
                <div class="controls">
                  <div class="input-prepend">
                    <select name = "contest.lockBoardTime" id ="class_week" style="width: 124px">
                        <#list weeks.keySet() as week>
                          <option value="${week!}" <#if contest?? && week == contest.lockBoardTime >selected</#if> >
                            ${weeks.get(week!)}
                          </option>
                        </#list>
                    </select>
                    <select name = "contest.unlockBoardTime" id = "class_lecture" style="width: 124px">
                        <#list lectures.keySet() as lecture>
                          <option value="${lecture!}" <#if contest?? && lecture==contest.lockBoardTime >selected</#if> >
                            ${lectures.get(lecture!)}
                          </option>
                        </#list>
                    </select>
                  </div>
                </div>
              </div>
            </#if>
            <div class="control-group contest">
              <label class="control-label" for="inputStartTime">开始时间</label>
              <div class="controls input-append date form_datetime" id="startTime">
                <input size="16" type="text" name="startTime" id="inputStartTime" value="${contest.startDateTime!}" readonly required>
                <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="control-group contest">
              <label class="control-label" for="inputEndTime">结束时间</label>
              <div class="controls input-append date form_datetime" id="endTime">
                <input size="16" type="text" name="endTime" id="inputEndTime" value="${contest.endDateTime!}" readonly required>
                <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" id="submitContest" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-info">重置</button>
              </div>
            </div>
          </form>
        </#if>
      </#if>
    </div>
  </div>
</div>
</@override>
<@override name="styles">
  <#if action?? && (action == "add" || action == "edit")>
    <link href="assets/jquery.artDialog/skins/twitter.css" rel="stylesheet" type="text/css">
  </#if>
</@override>

<@override name="scripts">
  <#if action?? && (action == "add" || action == "edit")>
    <link href="assets/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet">
    <script type="text/javascript" src="assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
            charset="UTF-8"></script>
    <script src="assets/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="assets/jquery.artDialog/jquery.artDialog.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inputTitle').tooltip({'trigger': 'focus', 'title': '作业/考试主要内容，如循环结构程序设计。', 'placement': 'right'});
        });
        $(document).ready(function () {
            $('#inputTime').tooltip({'trigger': 'focus', 'title': '上课/考试时间，如周一第二讲。', 'placement': 'right'});
        });

        $('#startTime').datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            //minuteStep: 30

        }).on('changeDate', function (ev) {
            var time = ev.date.valueOf();
            var date = formatDate(new Date(time + 3600000));
            <#if type?? && type == 5>
            var endDate = formatDate(new Date(time + 7*24*3600*1000));
            <#else>
            var endDate = formatDate(new Date(time + 2*3600*1000));
            </#if>
            $('#inputEndTime').val(endDate);
            $('#endTime').datetimepicker('setStartDate', date);
        });

        $("#endTime").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            startDate: "${startTime!}",
            //minuteStep: 30
        });
  </#if>
</@override>
<@extends name="_layout.html"></@extends>
