<@override name="content">
<h1 class="text-center 401">401 Unauthorized</h1>
<h1 class="text-center 401">请登陆</h1>
<div id="login-box" class="row">
  <div class="span5 offset3">
    <form class="form-horizontal" action="user/signin" method="post">
      <#if !user??>
        <div class="control-group">
          <div class="controls">
          <span class="help-block">Don't have an account? <a href="signup">Sign up here</a>
          </span>
          </div>
        </div>
      </#if>
      <div class="control-group
        <#if nameMsg??>error</#if>">
        <label class="control-label" for="inputAccount">Account</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" id="inputAccount" name="name" value="${(user.name)!}" placeholder="User name"
                         required <#if !(user.name)??>autofocus</#if>
          </div>
          <p class="text-error">${nameMsg!}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword"> Password </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i> </span>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required
                   <#if (user.name)??>autofocus</#if>>
          </div>
        </div>
      </div>
      <#if !user??>
        <div class="control-group">
          <div class="controls">
            <span class="help-block"><a href="user/forget">Forgot Password</a> </span>
          </div>
        </div>
      </#if>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-success" value="Login">
          <label class="checkbox inline"> <input type="checkbox" name="rememberMe" value="1" checked="checked"> Remember
            me
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
</@override>
<@override name="scripts">
</@override>
<@extends name="../common/_layout.html" />
