<#include "../common/_layout.html" /> <@layout>
<div id="login-box" class="row">
  <div class="span5 offset3">
    <form class="form-horizontal" action="user/recover" method="post">
      <div class="control-group">
        <div class="controls">
          <span class="help-block"> We will send mail to your mailbox <br> and help you recover your account.
          </span>
        </div>
      </div>
      <div class="control-group
        <#if nameMsg??>error</#if>">
        <label class="control-label" for="inputAccount">Account</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span> <input type="text" id="inputAccount" name="name" value="${name!}" placeholder="User name"
              required>
          </div>
          <p class="text-error">${errorMsg!}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail"> Email </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i> </span> <input type="email" id="inputEmail" name="email" placeholder="Email" required>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-success" value="Send">
        </div>
      </div>
    </form>
  </div>
</div>
</@layout>
