<#include "../common/_layout.html" /> <@layout>
<div class="page-header">
  <h3>
    <#if userName?? && userName==user.name> 
    <a href="user/edit" class="pull-right btn" style="margin: 15px 0 0;"><i class="iconbox icon-cog"></i>Account Settings</a> 
    </#if>
    Dashboard
  </h3>
</div>

<div class="container warp">
  <div class="row">
    <div class="span6 media">
      <#if userName?? && userName==user.name><a href="user/avatar" class="pull-left" title="click to upload new avatar"></#if>
      <img class="pull-left img-polaroid media-object"
        onerror="this.onerror=null;this.src='assets/images/user/default.png'" src="<#if user.avatar??>${user.avatar}<#else>assets/images/user/default.png</#if>" width="100" height="100" />
      <#if userName?? && userName==user.name></a></#if>
      <div class="media-body">
        <strong class="index-media-body-title">Profile Information</strong><br> 
        Username: ${user.name!}<br> 
        Nick: ${user.nick!}<br> 
        UID: ${user.uid!}<br>
        <#if adminUser?? || (userName?? && userName==user.name)> Email: <span><a href="mailto:${user.email!}">${user.email!}</a></span><br> </#if> 
        Registered: ${user.createTime!}<br>
        Last Login: ${user.loginTime!}
      </div>
    </div>
    <div class="span6 profile">
      <!--<dl class="dl-horizontal">
                <dt>My Property:</dt>
                <dd>
                    My Credits:<strong>8109</strong>&nbsp;&nbsp;<a href="/score.html">History</a><br/>
                    My level: <strong>62</strong><img src="/public/images/icon-rank-sun.png"/><img src="/public/images/icon-rank-sun.png"/><img src="/public/images/icon-rank-sun.png"/><img src="/public/images/icon-rank-moon.png"/><img src="/public/images/icon-rank-moon.png"/><img src="/public/images/icon-rank-moon.png"/><img src="/public/images/icon-rank-star.png"/><img src="/public/images/icon-rank-star.png"/><br/>
                    Online Time:  <span class="btn-tooltip" id="btn-tooltip"><strong>8064</strong> hours</span>
                </dd>
            </dl>-->
      <dl class="dl-horizontal">
        <dt>Rank:</dt>
        <dd>${user.rank!0}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Solved:</dt>
        <dd>
          <a href="status?name=${user.name!}&result=0">${user.solved!0}</a>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Submissions:</dt>
        <dd>
          <a href="status?name=${user.name!}">${user.submit!0}</a>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>School:</dt>
        <dd>
          <a href="user/search?word=${user.school!}&scope=school" data-toggle="tooltip" title="search this school">${user.school!}</a>
        </dd>
      </dl>
    </div>
    <div class="span6 problems">
    <#if user.problems??>
    <h4>Solved Problems</h4>
    <#list user.problems as problem>
      <#if problem.result == 0>
      <span><a href="status?pid=${problem.pid}&name=${user.name}&result=0" title="Problem ${problem.pid} : ${problem.title}">${problem.pid}</a></span>
      </#if>
    </#list>
    </#if>
    </div>
    
    <div class="span6 problems">
    <#if user.problems??>
    <h4>Unsolved Problems</h4>
    <#list user.problems as problem>
      <#if problem.result != 0>
      <span><a href="status?pid=${problem.pid}&name=${user.name}" title="Problem ${problem.pid} : ${problem.title}">${problem.pid}</a></span>
      </#if>
    </#list>
    </#if>
    </div>
  </div>
</div>
</@layout>
