<@override name="content">
<div class="pagination pagination-centered">
    <div class="pull-left">
        <#if TeacherUser??><a href="cprogram/work/add" class="btn btn-info">添加作业</a></#if>
    </div>
    <#include "../../common/_paginate.html" />
    <@paginate currentPage=workList.pageNumber totalPage=workList.totalPage actionUrl="cprogram/work/" />
    <div class="pull-right">
        <span class="badge badge-info">${workList.pageNumber}/${workList.totalPage} Pages</span>
        <span class="badge badge-info">${workList.totalRow} works</span>
    </div>
</div>

<table id="work-list" class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>ID</th>
        <th>作业内容</th>
        <th>上课时间</th>
        <th>教师姓名</th>
        <th>开始时间</th>
        <th>结束时间</th>
    </tr>
    </thead>
    <tbody>
    <#if workList??>
        <#list workList.list as work>
            <tr>
                <td><a href="cprogram/work/show/${work.id!}">${work.id!}</a></td>
                <td><a href="cprogram/work/show/${work.id!}">${work.title!}</a></td>
                <td>${work.time!}</td>
                <td>${work.nick!}</td>
                <td class="time">${work.startTime!}</td>
                <td class="time">${work.endTime!}</td>
            </tr>
        </#list>
    </#if>
    </tbody>
</table>
<span class="time" id="current"></span>
</@override>

<@override name="scripts">
<link href="assets/tablecloth/css/tablecloth.css" type="text/css" rel="stylesheet">
<script src="assets/tablecloth/js/jquery.metadata.js"></script>
<script src="assets/tablecloth/js/jquery.tablesorter.min.js"></script>
<script src="assets/tablecloth/js/jquery.tablecloth.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        document.onkeydown = nextpage;
        clock(function (current_time) {
            $("#current").html(new Date(current_time).format("yyyy-MM-dd hh:mm:ss"));
        }, 1000);

        var prevpage = "cprogram/work/${workList.pageNumber-1}<#if workList.pageSize!=pageSize>-${workList.pageSize}</#if>"
        var nextpage = "cprogram/work/${workList.pageNumber+1}<#if workList.pageSize!=pageSize>-${workList.pageSize}</#if>"
        function nextpage(event) {
            event = event ? event : (window.event ? window.event : null);
        <#if (workList.pageNumber>1)>if (event.keyCode == 37)location = prevpage;</#if>
        <#if workList.pageNumber<workList.totalPage>if (event.keyCode == 39)location = nextpage;</#if>
        }

        <#if oj_style != "slate">
        $("#work-list").tablecloth({
            theme: "stats",
            condensed: true,
            sortable: true,
            striped: true,
            clean: true
        });
        </#if>
    });
</script>
</@override>
<@extends name="../../common/_layout.html" />
