/*guru.channel.style*/
/*2012.9.19*/
#area-mainer-left{
    width:720px;
}
#area-mainer-right {
	width:240px;
}
/**/
.area-right .block{
	margin-top:0;
}
#block-channel-content{
	_width:700px;
}
#block-channel-content .item{
	display:inline-block; *display:inline;
    float:left;
	margin:0; padding:0;
}
#block-channel-content .mainer{
	padding-top:16px;
}
#block-channel-content .th .item{
    width:20%; height:150px;
	margin:0; padding:0 0 8px;
	border-bottom:1px #eee solid;
}
#block-channel-content .th .item:nth-of-type(10n), #block-channel-content .th .item:nth-of-type(10n-1), #block-channel-content .th .item:nth-of-type(10n-2), #block-channel-content .th .item:nth-of-type(10n-3), #block-channel-content .th .item:nth-of-type(10n-4){
	background-color:#f9f9f9;
}
#block-channel-content .th-large .item{
    width:50%; height:112px;
	border-bottom:1px #eee solid;
}
#block-channel-content .th-large .item:nth-of-type(4n), #block-channel-content .th-large .item:nth-of-type(4n-1){
	background-color:#f9f9f9;
}
#block-channel-content .th-list .item{
    width:100%; height:140px;
	border-bottom:1px solid #eee;
}
#block-channel-content .th-list .item{
	width:100%; height:auto;
	border:none;
	border-bottom:1px solid #eee;
}
#block-channel-content .th-list .item:nth-of-type(2n){
	background-color:#f9f9f9;
}
#url-index-area-more, #random-index-topic-left {
	display:block;
	width:96px;
	height:32px;
	text-align:center;
	position:absolute;
	right:0;
	top:2px;
	color:#08c;
}
#block-channel-content .item{
	width:100%; height:100%;
	margin:0 auto; padding:0;
	text-align:left;
	position:relative;
	border-color:#eee;
	overflow:hidden;
}
#block-channel-content .item .l{
	/**/
}
#block-channel-content .item .r{
	/**/
}
.th-large .r{
	width:225px;
}
.th-list .r{
	width:565px;
}
.th .l{
	float:none; display:block;
}
.th .r{
	float:none; display:block;
}
#block-channel-content .item .thumb {
	margin:8px 0 0 8px;
	position:relative;
	overflow:hidden;
}
#mainer .channel{
	left:6px; top:6px;
	margin:0; padding:0 4px;
	height:16px; line-height:16px;
	font-size:12px;
	border-radius:1px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	color:#fff; background-color:rgba(0,0,0,0.5);
}
.no-rgba #mainer .channel{
	background-color:#999;
}
#area-mainer-right .channel{
	display:inline-block; *display:inline;
	position:static;
	border-radius:1px;
	margin:0 4px 0 0;
}
.no-rgba #block-channel-content .item .channel{
	background-color:#222;
}
#block-channel-content .th .item .thumb {
	margin: 8px 0 0 10px;
}
#block-channel-content .th-list .item .thumb {
	margin: 8px 0 8px 10px;
	*left:8px;
}
#block-channel-content .th-large .item .thumb {
    margin: 8px 0 0 10px;
	*left:8px;
}
#block-channel-content .th .item .preview{
	width:120px; height:90px;
}
#block-channel-content .th-large .item .preview, #block-channel-content .th-large .item .cover{
	width:108px; height:81px;
}
#block-channel-content .th-list .item .preview{
	width:120px; height:90px;
}
#block-channel-content .item .title {
	display:block;
    height:16px; line-height:16px; width:auto;
    font-size:13px;
	overflow:hidden;
	padding:0 16px 0 0;
}
#list-area li .title:hover, #list-area li:hover .title{
	color:#c33;
}
#block-channel-content .th .item .title {
	margin:0 0 0 10px;
	height:32px;
	line-height:16px;
	width:124px;
	font-size:12px;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	font-weight:normal;
	color:#369;
	padding:0 2px;
	position:absolute;
	overflow:hidden;
}
#block-channel-content .item .info{
	display:none;
}
#block-channel-content .th .info{
	display:block; position:absolute;
	color:#666;
	height:20px; line-height:20px; width:120px;
	overflow:hidden;
	margin:0; padding:0;
	left:2px; bottom:2px;
	/*background-color:rgba(255,255,255,0.8);*/
	background:url(image/bg-preview-bar.png) center top repeat-y;
}
#block-channel-content .item .info .l{
	padding-left:8px;
}
#block-channel-content .item .info .r{
	padding-right:8px;
}
#block-channel-content .item .info .icon{
	margin:0 1px 0 0;
}
#block-channel-content .info .pts{
	color:#666;
}
.no-rgba #block-channel-content .mainer .info{
	background:none;
	background-color:#fff;
	left:0; bottom:0;
}
#block-channel-content .th .item .info .l{
	float:left;
}
#block-channel-content .th .item .info .r{
	float:right;
}
#block-channel-content .th-list .item .title {
	width:auto; height:16px;
	font-size:14px;
	border-left:4px solid #c66;
	padding-left:4px;
	margin:8px 0 0 0;
}
#block-channel-content .th-large .item .title {
	margin:8px 0 0 0;
	width:auto; height:16px;
	padding-right:8px;
}
#block-channel-content .th .item .author {
	display:none;
}
#block-channel-content .th-large .item .author {
	font-size:12px;
    display:block; position:absolute;
    left:125px; top:60px;
    height:16px; line-height:16px;
    overflow:hidden;
}
#block-channel-content .item .info-extra{
    color:#999;
    font-size:12px;
    display:block;
    height:auto; line-height:16px;
    overflow:hidden;
}
#block-channel-content .th .item .info-extra{
	display:none;
}
#block-channel-content .th-list .item .info-extra{
	border-top:1px #eee solid;
	margin:4px 32px 0 0; padding:4px 0 0;
}
#block-channel-content .th-large .item .info-extra{
    color:#999;
    font-size:12px;
    display:block;
    overflow:hidden;
	margin:4px 0 0 0;
}
#block-channel-content .item .date{color:#999;}
#block-channel-content .item .desc {
	display:block;
	font-size:12px;
	height:auto; line-height:16px;
	overflow:hidden;
	width:auto;
	color:#888;
	padding:0 16px 0 0;
}
#block-channel-content .th .item .desc {
	display:none;
}
#block-channel-content .th-list .item .desc {
	width:auto; height:48px;
	margin:4px 0 0 0;
}
#block-channel-content .th-large .item .desc {
	display:block;
	font-size:12px;
	height:36px;
	line-height:18px;
	overflow:hidden;
	color:#888;
	margin:0;
}
#block-channel-content .th-large .item .time {
	display:none;
}
.ad-sidebar-area {
	height:218px;
}
.info-th-list, .info-th, .info-th-large{
	display:none;
}
.th-list .info-th-list{
	display:inline-block; *display:inline;
}
.th-large .info-th-large{
	display:block;
	*height:0px;
}
/*文章*/
#block-channel-article-reply .item, #tabb-area-rank .item{
	padding:2px 8px;
}
#tabb-area-rank .title{
	height:32px; line-height:32px;
	display:block;
	overflow:hidden;
}
#block-channel-article-reply .item:nth-of-type(2n),
#tabb-area-rank .item:nth-of-type(2n),
#block-channel-article-recom .item:nth-of-type(2n){
	background-color:#f9f9f9;
}
#block-channel-article-reply .item:hover, #tabb-area-rank .item:hover{
	background-color:#eee;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
}
.location-channel-article a.title:visited{
	color: #666;
}
.location-channel-article a.title:hover{
	color: #c33;
}
.location-channel-article #block-channel-content{
	overflow:visible;
}
.location-channel-article #block-channel-content .item:nth-of-type(2n){
	background-color: transparent;
}
.location-channel-article #block-channel-content .item{
    display:block; float:none;
    width:98%; height:auto;
	border-radius:0;
	border:none; border-bottom:1px #eee solid;
	overflow:visible;
	margin:4px 1%; padding:0;
}
.location-channel-article #block-channel-content .hint-comm-article{
	display:block;
	position:absolute;
	left:-12px; top:4px;
	width:48px; height:48px;
	background-color:#5BB75B; color:#fff;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	text-align:right;
	cursor:pointer;
	transition:all 0.2s ease 0.2s;
	-moz-transition:all 0.2s ease 0.2s;
	-webkit-transition:all 0.2s ease 0.2s;
	-o-transition:all 0.2s ease 0.2s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	overflow:hidden;
}
.location-channel-article #block-channel-content .item:hover .hint-comm-article{
	left:-16px;
	background-color:#08c;
}
.location-channel-article #block-channel-content .hint-comm-article .a{
	font-size:24px; font-weight:bold;
	line-height:28px; height:28px;
	text-align:right;
	color:#fff;
	margin:0; padding:0;
	display:block; position:absolute;
	right:2px; top:0;
}
.location-channel-article #block-channel-content .hint-comm-article .b{
	font-size:12px;
	line-height:14px; height:18px;
	color:#fff;
	margin:0; padding:0;
	display:block; position:absolute;
	right:4px; bottom:0;
}
.location-channel-article #block-channel-content .hint-comm-article .d{
	font-size:18px;
}
.location-channel-article #block-channel-content .item .title {
    font-size:15px; font-weight:normal;
    margin:8px 0 0 44px; padding:0 16px 0 0;
    height:24px; line-height:24px; width:auto; overflow:hidden;
	border:none;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	color:#08c;
}
.location-channel-article #block-channel-content .item .title:hover{
	color:#c33;
}
.location-channel-article #block-channel-content .item .title:visited{
	color:#666;
}
.location-channel-article .title-info{
	font-size:12px;
	font-weight: normal;
	color:#888;
	margin:4px 0 4px 48px;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
.location-channel-article .title-info .pts{
	color:#5895BE;
	margin:0 2px;
	font-size:12px;
}
.location-channel-article #block-channel-content .item .desc {
	display:block;
	font-size:12px; font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	max-height:48px; height:auto; line-height:16px;
	overflow:hidden;
	width:auto;
	color:#666;
	margin:16px 0 16px 16px;
}
.location-channel-article #block-channel-content .item .info-extra {
    font-size:12px;
    top:68px; left:8px;
}
.location-channel-article #block-channel-content .item .author {
	margin:4px 16px 16px 16px;
	color:#999;
	height:20px; width:auto;
	padding-top:4px;
	border-top:1px dashed #eee;
}
/*Sidebar*/
/*Reply*/
#block-channel-recom .item, #block-channel-reply .item{
    border-bottom:1px #eee solid;
	height:auto;
}
#block-channel-recom .r, #block-channel-reply .r{
	width:158px;
}
.location-channel-article #block-channel-reply li{
	height:32px;
}
#block-channel-recom .item-tabb, #block-channel-reply .item-tabb{
	height:100%;
	position:relative;
}
#block-channel-recom .thumb, #block-channel-reply .thumb{
	margin:8px 0 4px 8px;
	position:relative;
	*left:8px;
}
#block-channel-recom .preview, #block-channel-reply .preview, #block-channel-recom .cover, #block-channel-reply .cover{
	width:60px; height:45px;
}
#block-channel-recom .title, #block-channel-reply .title{
	display:block;
	height:32px; line-height:16px; width:152px;
	overflow:hidden;
	color:#666;
	font-size: 12px;
	padding:0; margin:8px 0 0;
}
#block-channel-recom .info, #block-channel-reply .info{
	margin:2px 0 0;
	height:16px; line-height:16px; width:150px;
	overflow:hidden;
}
#block-channel-recom .info span, #block-channel-reply .info span{
	margin:0 4px 0 0;
}
#block-channel-recom li:nth-last-of-type(1), #block-channel-reply li:nth-last-of-type(1){
    border:none;
}
#block-channel-recom .pts{
	font-size:11px;
}
#block-channel-reply .pts{
	font-size:11px;
}
/*bangumi*/
#bangumi li{
	height:auto;
	border-bottom:1px solid #eee;
	padding:8px;
}
#bangumi li .a{
	height:24px; width:48px;
	line-height:24px;
	font-size:12px;
	float:left;
	text-align:center;
	background-color:#999;
	color:#fff;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	position:relative;
	cursor:pointer;
}
#bangumi li .title{
	color:#369;
}
#bangumi .day, #bangumi .date{
	height:24px;
	width:32px;
	line-height:24px;
	cursor:default;
}
#bangumi li:hover .a, #bangumi li.active .a{
	background-color:#222;
}
#bangumi li.today .a{
	background-color:#c00;
	cursor: default;
}
#bangumi li:hover .a .day{
	display:none;
}
#bangumi li .b{
	height:24px;
	width:170px;
	line-height:24px;
	font-size:13px;
	float:right;
	text-align:left;
	word-wrap:break-word;
	padding:0;
	overflow:hidden;
}
#bangumi li.active .b{
	height:auto;
}
#bangumi li .b .inner{
	line-height:24px;
}
#bangumi li .b a{
	display:inline-block; *display:inline;
	margin:0 2px; padding:0 4px;
	font-size:12px;
}
#bangumi li .b a:hover{
	background-color:#08c;
	color:#fff;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
#bangumi .c{
	border:none;
}
/**/

.location-channel-article #sidebar .tabb li{
    border-bottom:1px #eee solid;
	height:32px;
}
.location-channel-article #sidebar .tabb li:nth-last-of-type(1){
    border:none;
}
.location-channel-article #block-channel-reply .title{
	left:0; top:0;
	height:32px; line-height:32px; width:100%;
	padding:0 8px;
}
#block-channel-article-reply .title, .location-channel-article #tabb-area-rank .title{
	height:32px; line-height:32px;
	overflow:hidden; display:block;
	font-size:12px; font-weight:normal;
	color: #369;
}
/*Recom*/
#block-channel-article-recom {
	margin:10px 0 0 0;
    background-color:#f9f9f9;
}
#block-channel-article-recom .item{
	margin:0; padding:2px 8px;
	font-size:14px;
	display:block;
	position:relative;
    background-color:#fff;
    display:block;
    position:relative;
    width:auto; height:auto;
}
#block-channel-article-recom .item:hover{
	background-color:#eee;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
}
#block-channel-article-recom .title {
	display:block;
	font-size:12px; font-weight:normal;
	word-break:break-all;
	overflow:hidden;
	margin:8px 0 4px 0;
    height:16px; width:auto; line-height:16px;
}
#block-channel-article-recom .info-extra {
	font-size:11px;
	margin:4px 0 8px 0;
	display:block;
    height:16px; line-height:16px;
    overflow:hidden;
}
#block-channel-article-recom .info-extra span {
	margin: 0 16px 0 0;
}
/*Area*/
.tab-area{
	position:relative;
}
.tab-area a{
	display:block;
	text-align:center;
	width:100%; height:100%;
}
/*ad*/
#ad-sidebar{
    width:100%; height:200px;
    margin:8px 0;
}
/**/
#block-channel-top .banner .tab{
	float:right;
	margin:0 -1px 0 0;
	*zoom:1l
}
#block-channel-top .item{
	width:20%; height:140px;
	display:inline-block; *display:inline;
	float:left; position:relative;
	background-color:transparent;
	margin:4px 0 8px; padding:0;
	overflow:hidden;
}
#block-channel-top .thumb{
	margin:4px 0 0 10px;
	position:relative;
}
#block-channel-top .preview{
	width:120px; height:90px;
}
#block-channel-top .title{
	height:32px; line-height:16px; width:124px;
	font-size:12px;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	font-weight:normal;
	color:#369;
	padding:0 2px; margin:0 0 0 10px;
	overflow:hidden;
	display:block;
}
#block-channel-top .item:hover .title{
	color:#c33;
}
#block-channel-top .info{
	display:block;
	color:#999;
	height:20px; line-height:20px; width:124px;
	overflow:hidden;
	background-color:#fefefe;
	position:relative;
	margin:-16px 0 0 10px;
}
#block-channel-top .info .l{
	float:left;
	padding-left:2px;
}
#block-channel-top .info .r{
	float:right;
	padding-right:2px;
}
/*guide-footer*/
#guide-footer{
	position:relative;
	width:100%; height:32px;
	margin:16px auto;
	text-align:left;
	display:block;
}
#guide-footer li{
	width:90px; height:100%; line-height:32px;
	margin:0; padding:0;
	display:inline-block; *display:inline; position:relative;
	text-align:center;
	float:left;
}
#guide-footer li a{
	display:block;
	width:80px; height:100%; line-height:32px;
	border:none; border-radius:2px; box-shadow:0 1px 2px rgba(0,0,0,0.2);
	margin:0 auto; padding:0;
	font-size:14px; font-weight:bold; text-align:center;
	color:#fff !important;
	background-color: #222;
}
#guide-footer li a.active{
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
	background:none;
	background-color:#eee; color:#333 !important;
	cursor:default;
}
/*guide-channel*/
#guide-channel .a{
	height:48px; line-height:48px;
	font-size:16px; font-weight:bold;
	border-bottom:1px solid #ddd;
	background:none;
}
#guide-channel .a:hover{
	background-color:#eee;
}
#guide-channel .a .icon{
	display:none;
	margin:1px 2px 0 0;
}
#guide-channel .a.active{
	background-color:#ccc;
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.2);
}
#guide-channel .a.active .icon{
	display:inline-block; *display:inline;
}
#guide-channel a{
	display:block; position:absolute;
	height:48px; line-height:48px; width:220px;
	padding-left:32px;
}
#guide-channel .a.active a{
	color:#333;
	padding-left:16px;
}
.c{
	padding:8px;
	color:#999;
	font-size:12px;
}
.c .more{
	display:block; position:absolute;
	width:48px; height:32px; line-height:32px;
	color:#666; font-size:13px;
	right:8px; top:0;
}
.banner .fixed .tiny-more{
	font-size:12px;
	color:#999;
	margin-left:8px;
}

#area-comment{
	display:none;
}
.toho #area-comment{
	display:block;
}
#area-editor{
	display:none;
}
.toho #area-editor{
	display:block;
}
#btn-showComm{
	display:block;
}
#block-channel-content .banner .tool{
	color:#fff;
	padding:0 4px;
}
/**/
.area-tag{
	width:auto; height:auto;
	margin:8px 0 0 56px; padding:0;
	color:#666;
	left:auto; top:auto;
}
.tag{
	display:inline-block; *display:inline;
	height: 16px; line-height: 16px;
	margin: 0 0 0 2px; *margin-left:4px; padding: 0;
	color:#999;
	font-size:12px;
}
.tag:hover{
	color:#666;
}
.tag a{
	color:#999;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
.tag a:hover{
	color:#666;
}
.tag .pts{
	color:#999;
	font-size: 10px;
	display:none;
}

/*banner*/
#banner{
	width:980px; height:128px;
	margin:0 auto 8px;
	position:relative;
}
.block-banner-title{
	right:8px; top:8px;
	height:50px; width:200px;
	position:absolute;
	font-family:verdana,Tahoma,Arial,"微软雅黑","宋体",sans-serif;
	color:rgba(0,0,0,0.8);
	cursor:default;
	text-align:right;
	text-shadow:0 0 1px rgba(0,0,0,0.5);
}
.no-rgba .block-banner-title{
	color:#303030;
}
.block-banner-title .l{
	right:0; top:0;
	height:50px; width:100px;
	line-height:50px;
	position:absolute;
    font-size: 50px; font-weight:bold;
    letter-spacing: -0.1em;
}
.block-banner-subtitle{
	height:50px; width:100px;
    right: 100px; top: 0;
    letter-spacing: -2px;
    position: absolute;
	line-height:25px;
}
.block-banner-title .u{
	font-size:25px;
	font-style:italic;
	position:absolute;
	top:0; right:0;
	color:rgba(0,0,0,0.8);
	letter-spacing: -0.1em;
}
.no-rgba .block-banner-title .u{
	color:#303030;
}
.block-banner-title .d{
	font-size:25px;
	position:absolute;
	bottom:0; right:0;
	font-weight:bold;
	letter-spacing: -0.1em;
}
#stage.location-tag{
	background:#fcfcfc url(image/bg-history.jpg) center 48px no-repeat;
}
#logo-banner-top{
	background: url("image/sprite.png") no-repeat scroll -738px -432px transparent;
    display: block;
    height: 72px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 252px;
	display:none;
}