<@override name="content">
    <div class="header">
      <h1 class="page-title">系统信息</h1>
    </div>
    <ul class="breadcrumb">
      <li class="active">首页</li>
    </ul>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="well">
          <div id="container">
            <table id="system-info" class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>System Information</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>JAVA</td>
                  <td>${javaVendor!} ${javaVersion!}</td>
                </tr>
                <tr>
                  <td>JAVA Home</td>
                  <td>${javaHome!}</td>
                </tr>
                <tr>
                  <td>JAVA Runtime Environment</td>
                  <td>${JREName!} ${JREVersion!}</td>
                </tr>
                <tr>
                  <td>OS</td>
                  <td>${OSName!} ${OSVersion!} ${OSArch!}</td>
                </tr>
                <tr>
                  <td>MySQL Version</td>
                  <td>${mysql!}</td>
                </tr>
                <tr>
                  <td>Timezone</td>
                  <td>${timezone!}</td>
                </tr>
                <tr>
                  <td>File Separator</td>
                  <td>${fileSeparator!}</td>
                </tr>
                <tr>
                  <td>Work Directory</td>
                  <td>${workDir!}</td>
                </tr>
                <tr>
                  <td>User Home</td>
                  <td>${userHome!}</td>
                </tr>
                <tr>
                  <td>Temp Directory</td>
                  <td>${tempDir!}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </@override>
<@extends name="../_layout.html"></@extends>
