<@override name="content">
<div class="header">
  <h1 class="page-title">评测文件</h1>
</div>
<ul class="breadcrumb">
  <li>
    <a href="admin">首页</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="admin/file/browse">文件管理</a>
    <span class="divider">/</span>
  </li>
  <#if dir??>
    <li>
      <a href="admin/file/browse/${dir}">${dir}</a>
      <span class="divider">/</span>
    </li>
  </#if>
</ul>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="well">
      <div id="container">
        <h4>Judge Files: ${dir!}/${name!}</h4>
        <div>
          <textarea rows="40" cols="160">${content}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
</@override>
<@override name="styles">
<style>
  textarea {
    width: auto;
  }
</style>
</@override>

<@extends name="../_layout.html"></@extends>
