<@override name="content">
<h3 class="text-center">${notice.title!}</h3>
<div class="row text-center">
  <div clas="span4 offset4">
    <#if adminUser??>
    <div class="notice-admin">
      <a href="notice/edit/${notice.id!}" class="btn btn-primary">Edit</a> 
    </div>
    </#if>
    <span>Start time</span>: <span class="time">${notice.startDateTime!}</span> 
    <span>End time</span>: <span class="time">${notice.endDateTime!}</span><br>
    <span>Publisher</span>: <span class="name"><a href="user/profile/${notice.name!}">${notice.name!}</a></span>
    <span>View</span>: <span class="pts">${notice.view!}</span><br>
  </div>
</div>
<div class="row content" id="notice-content">
  <div clas="span4 offset4">
    <pre>${notice.content!}</pre>
  </div>
</div>

</@override>

<@override name="scripts">
</@override>
<@extends name="../common/_layout.html" />
