
<input type="hidden" name="problem.pid" value="${problem.pid!}">
<div class="control-group problem <#if titleMsg??>error</#if>">
  <label class="control-label" for="inputTitle">Title</label>
  <div class="controls">
    <textarea id="inputTitle" name="problem.title" rows="1" cols="130" required>${problem.title!}</textarea>
    <!--<input class="input-xxlarge" type="text" id="inputTitle" name="problem.title" value="${problem.title!}" required>-->
    <p class="text-error">${titleMsg!}</p>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputTimeLimit">Time Limit</label>
  <div class="controls input-append">
    <input class="input-mini" type="number" id="inputTimeLimit" name="problem.time_limit" value="${problem.time_limit!}" required> <span class="add-on">MS</span>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputMemoryLimit">Memory Limit</label>
  <div class="controls input-append">
    <input class="input-mini" type="number" id="inputMemoryLimit" name="problem.memory_limit" value="${problem.memory_limit!}" required> <span
      class="add-on">KB</span>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputDescription">Description</label>
  <div class="controls">
    <textarea id="inputDescription" name="problem.description" rows="13" cols="130">${problem.description!}</textarea>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputInput">Input</label>
  <div class="controls">
    <textarea id="inputInput" name="problem.input" rows="9" cols="130">${problem.input!}</textarea>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputOutput">Output</label>
  <div class="controls">
    <textarea id="inputOutput" name="problem.output" rows="9" cols="130">${problem.output!}</textarea>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputSampleInput">Sample Input</label>
  <div class="controls">
    <textarea id="inputSampleInput" name="problem.sample_input" rows="9" cols="130">${problem.sample_input!}</textarea>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputOutput">Sample Output</label>
  <div class="controls">
    <textarea id="inputSampleOutput" name="problem.sample_output" rows="9" cols="130">${problem.sample_output!}</textarea>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputHint">Hint</label>
  <div class="controls">
    <textarea id="inputHint" name="problem.hint" rows="5" cols="130">${problem.hint!}</textarea>
  </div>
</div>
<div class="control-group problem">
  <label class="control-label" for="inputSource">Source</label>
  <div class="controls">
    <textarea id="inputSource" name="problem.source" rows="1" cols="130">${problem.source!}</textarea>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <label class="checkbox"> <input type="checkbox" name="problem.status" value="true"<#if problem.status==true>checked</#if>>Active
    </label>
  </div>
</div>

<noscript>
  <base href="${baseUrl!}/" />
  <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <div class="span5 offset4">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Your Browser disabled JavaScript!</h4>
      <a href="problem/edit/${problem.pid!}">click here to Edit</a>
    </div>
  </div>
  <noscript>