<@override name="content">
<script src='http://git.oschina.net/power/oj/widget_preview'></script>
<ul>
  <li>Dec 22, 2012
    <ul>
      <li>Initialized project in ThinkPHP</li>
    </ul>
  </li>
  <li>May 17, 2013
    <ul>
      <li>Change to JAVA servlet</li>
    </ul>
  </li>
  <li>May 21, 2013
    <ul>
      <li>Change to JFinal framework</li>
    </ul>
  </li>
  <li>Jun 19, 2013
    <ul>
      <li>Convert to Eclipse project</li>
    </ul>
  </li>
  <li>Aug 29, 2013
    <ul>
      <li>Add OjWebSocketServlet</li>
    </ul>
  </li>
  <li>2013-08-31
    <ul>
      <li>Move project to git@osc</li>
    </ul>
  </li>
  <li>2013-12-04
    <ul>
      <li>Update recent contest: support link</li>
    </ul>
  </li>
  <li>2013-12-05
    <ul>
      <li>Replace c3p0 with druid</li>
    </ul>
  </li>
  <li>2013-12-06
    <ul>
      <li>Support password access contest</li>
    </ul>
  </li>
  <li>2013-12-08
    <ul>
      <li>Auto detect baseURL in each request</li>
    </ul>
  </li>
  <li>2013-12-20
    <ul>
      <li>Add Apache Shiro Authentication</li>
    </ul>
  </li>
  <li>2013-12-21
    <ul>
      <li>Implement Shiro Authorization</li>
    </ul>
  </li>
  <li>2016-06-25
    <ul>
      <li>Implement role management</li>
    </ul>
  </li>
  <li>2016-06-26
    <ul>
      <li>Fix some bugs</li>
      <li>Refactor</li>
      <li>Add progress bar for rejudging</li>
    </ul>
  </li>
  <li>2016-06-28
    <ul>
      <li>Implement share code</li>
    </ul>
  </li>
  <li>2016-07-01
    <ul>
      <li>Java class name is not have to "Main"</li>
    </ul>
  </li>
  <li>2016-07-02
    <ul>
      <li>Implement member management</li>
    </ul>
  </li>
  <li>2016-07-06
    <ul>
      <li>Use Power Judge V2</li>
    </ul>
  </li>
  <li>2016-07-07
    <ul>
      <li>Security upgrade</li>
    </ul>
  </li>
  <li>2016-07-11
    <ul>
      <li>Compare user</li>
    </ul>
  </li>
  <li>2016-07-16
    <ul>
      <li>Log/judge files online management</li>
    </ul>
  </li>
  <li>2016-07-20
    <ul>
      <li>Contest support special team, restrict languages</li>
    </ul>
  </li>
</ul>
</@override>
<@override name="scripts">
</@override>
<@extends name="../common/_layout.html" />
