<@override name="content">

  <#if newsList?? && (newsList.list.size() > 0) >
  <div class="flexslider">
    <ul class="slides">
      <#list newsList.list as news>
        <li>
          <div class="titlepimg">${news.title!}</div>
          <a href="news/show/${news.id}">
            <img src="${news.image}" />
          </a>
        </li>
      </#list>
    </ul>
  </div>
  </#if>

  <#if newsAndNotimeList??>
    <#list newsAndNotimeList as news>
      <div class="news">
        <#if news.uid??>
          <a href="notice/show/${news.id}">
        <#else>
          <a href="news/show/${news.id}">
        </#if>

          <h3 class="title">
            ${news.title!}
          </h3>
        </a>
        <p style="text-align: right;position:relative;top:-10px">
          On <span class="timestamp" data="${news.time!}"></span> By <span
                class="author">${news.author!}</span>
        </p>
        <p class="entry"><#if (!(news.uid??) && news.content?length &gt; 34) >${news.content?substring(0,34)}
          ...<#else>${news.content}</#if></p>
      </div>
    </#list>

  </#if>


</@override>
<@override name="styles">
<link rel="stylesheet" type="text/css" href="assets/css/flexslider.css" media="screen"/>
</@override>
<@override name="scripts">
<script type="text/javascript" src="assets/js/jquery.flexslider.js"></script>

<script type="text/javascript">
  $(window).load(function () {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>
</@override>
<@extends name="../common/_layout.html" />
