<@override name="content">

  <#if newsList?? && (newsList.list.size() > 0) >
  <div class="flexslider">
    <ul class="slides">
      <#list newsList.list as news>
        <li>
          <div class="titlepimg">${news.title!}</div>
          <img src="${news.image}"/>
        </li> </#list>
    </ul>
  </div>
  </#if>

  <#if newsList?? && (newsList.list.size() > 0) >
    <#list newsList.list as news>
    <div class="news">
      <a href="news/show/${news.id}"><h3 class="title">${news.title!}</h3></a>
      <p style="text-align: right;position:relative;top:-10px">
        On <span class="timestamp" data="${news.time!}"></span> By <span
              class="author">${news.author!}</span>
      </p>
      <p class="entry"><#if (news.content?length &gt; 34) >${news.content?substring(0,34)}
        ...<#else>${news.content}</#if></p>
    </div>
    </#list>

  <div class="pagination pagination-centered" style="float:left;margin-left:49%; margin-top: 100px;" id="paginationBtn">
    <#include "../common/_paginate.html" />
	<@paginate currentPage=newsList.pageNumber totalPage=newsList.totalPage actionUrl="news/" />
  </div>
  </#if>


</@override>
<@override name="styles">
<link rel="stylesheet" type="text/css" href="assets/css/flexslider.css" media="screen"/>
</@override>
<@override name="scripts">
<script type="text/javascript" src="assets/js/jquery.flexslider.js"></script>

<script type="text/javascript">
  $(window).load(function () {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>
</@override>
<@extends name="../common/_layout.html" />
