<@override name="content">
    <div class="header">
      <h1 class="page-title">导入题目</h1>
    </div>
    <ul class="breadcrumb">
      <li>
        <a href="admin">首页</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a href="admin/problem">题目管理</a>
        <span class="divider">/</span>
      </li>
      <li class="active">数据管理</li>
    </ul>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="well">
          <div id="container">
            <h3>Problem Test Data:</h3>
            <div id="filelist">
              <form class="form-horizontal" action="admin/problem/uploadData" method="post" enctype="multipart/form-data">
                <div class="control-group problem">
                  <label class="control-label" for="inputFile">File</label>
                  <div class="controls">
                    <input type="file" id="inputFile" name="dataFile" required />
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </form>
            </div>

            <div id="container">
                <a id="pickfiles" href="javascript:;"><i class="btn btn-primary">Browse</i></a> 
                <a id="uploadfiles" href="javascript:;"><i class="btn btn-primary">Upload</i></a>
            </div>
            <pre id="console"></pre>

          </div>
        </div>
      </div>
    </div>
</@override>

<@override name="scripts">
<script type="text/javascript" src="assets/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript">
// Custom example logic
var uploader = new plupload.Uploader({
  runtimes : 'html5,flash,silverlight,html4',
  browse_button : 'pickfiles', // you can pass in id...
  container: document.getElementById('container'), // cannot change to $('#container')
  url : baseUrl + 'admin/problem/uploadData',
  flash_swf_url : baseUrl + 'assets/plupload/js/Moxie.swf',
  silverlight_xap_url : baseUrl + 'assets/plupload/js/Moxie.xap',
  
  filters : {
    max_file_size : '10mb',
    mime_types: [
      {title : "Data files", extensions : "in,out,txt"},
      {title : "Source files", extensions : "c,cc,cpp,pas,java,py"},
      {title : "Zip files", extensions : "zip,rar"}
    ]
  },

  init: {
    PostInit: function() {
      $('#filelist').html('');

      $('#uploadfiles').click(function() {
        uploader.start();
        return false;
      });
    },

    FilesAdded: function(up, files) {
      plupload.each(files, function(file) {
        document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
      });
    },

    UploadProgress: function(up, file) {
      document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
    },

    Error: function(up, err) {
      document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
    }
  }
});

uploader.init();
</script>
</@override>
<@extends name="../_layout.html"></@extends>
