<#include "../_layout.html" />
<@layout>
    <div class="header">
      <h1 class="page-title">查看题目</h1>
    </div>
    <ul class="breadcrumb">
      <li class="active">题目管理</li>
    </ul>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="well">
          <div id="container">
          
						<ul class="pager">
						  <li class="previous <#if prevPid==problem.pid>disabled</#if>">
						    <a href="admin/problem/show/${prevPid!}" title="Show previous problem.">&lt;&lt;Prev</a>
						  </li>
						  <li class="next <#if nextPid==problem.pid>disabled</#if>">
						  <a href="admin/problem/show/${nextPid!}" title="Show next problem.">Next&gt;&gt;</a>
						  </li>
						</ul>
						
						<div class="text-center">
						  <h2>
						    <span class="black pts">${problem.pid!0}:</span> 
						    <#if problem.status==false><del></#if>
						    <span class="title">${problem.title!}</span>
						    <#if problem.status==false></del></#if>
						    <!--<span class="label label-important">SPJ</span>-->
						  </h2>
						  <div class="problem-admin">
						    <a href="problem/edit/${problem.pid!}?ajax=1" data-toggle="modal" data-target="#editModal" class="btn btn-primary">Edit</a> 
						    <a href="#" class="btn btn-danger">Rejudge</a>
						  </div>
						  Time Limit:<span class="blue">${problem.time_limit!}MS</span> 
						  Memory Limit:<span class="blue">${problem.memory_limit!}KB</span><br>
						  Total Submit:<a href="status?pid=${problem.pid!}">${problem.submit!}</a> 
						  Accepted:<a href="status?pid=${problem.pid!}&result=0">${problem.accept!}</a> 
						  Page View:<span class="blue">${problem.view!}</span><br><br> 
						  <a href="problem/submit/${problem.pid!}?ajax=1" class="btn btn-info" data-toggle="modal" data-target="#submitModal">Submit</a>
						  <a href="problem/status/${problem.pid!}" class="btn btn-info" target="_blank">Status</a>
						  <a href="#" class="btn btn-info" target="_blank">Discuss</a>
						</div>
						
						<div class="modal hide fade problemModal" id="editModal">
						  <form class="" action="problem/update" id="editPorblemForm" method="post">
						    <div class="modal-header">
						      <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
						      <h3 id="editModalLabel">
						        Edit Problem ${problem.pid!}:
						        <a href="problem/edit/${problem.pid!}" title="Edit in another page" data-toggle="tooltip" data-placement="bottom">${problem.title!}</a>
						      </h3>
						    </div>
						    <div class="modal-body">
						      <a href="problem/edit/${problem.pid!}" class="btn btn-primary">Edit</a>
						    </div>
						    <div class="modal-footer">
						      <button type="submit" class="btn btn-primary">Save</button>
						      <button type="reset" class="btn btn-info">Reset</button>
						      <button class="btn" data-dismiss="modal">Cancel</button>
						    </div>
						  </form>
						</div>
						<div class="modal hide fade problemModal" id="submitModal">
						  <form class="" id="submitForm" action="solution/save" method="post">
						    <div class="modal-header">
						      <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
						      <h3 id="submitModalLabel">
						        Submit Problem ${problem.pid!}:<a href="problem/submit/${problem.pid!}"
						          title="Submit in another page" data-toggle="tooltip" data-placement="bottom">${problem.title!}</a>
						      </h3>
						    </div>
						    <div class="modal-body">
						      <!--<a href="problem/submit/${problem.pid!}" class="btn btn-primary">Submit</a>-->
						      <div class="alert alert-error">
						      <button type="button" class="close" data-dismiss="alert">&times;</button>
						      Sorry, youd don't have permission to submit solution.
						      </div>
						    </div>
						    <div class="modal-footer">
						      <button type="submit" class="btn btn-primary">Save</button>
						      <button type="reset" class="btn btn-info">Reset</button>
						      <button class="btn" data-dismiss="modal">Cancel</button>
						    </div>
						  </form>
						</div>

						<section id="description">
						  <div class="page-header">
						    <h4>Description</h4>
						  </div>
						  <div class="problem-content" id="description">
						    <pre>${problem.description!}</pre>
						  </div>
						</section>
						
						<section id="input">
						  <div class="page-header">
						    <h4>Input</h4>
						  </div>
						  <div class="problem-content" id="input">
						    <pre>${problem.input!}</pre>
						  </div>
						</section>
						
						<section id="output">
						  <div class="page-header">
						    <h4>Output</h4>
						  </div>
						  <div class="problem-content" id="output">
						    <pre>${problem.output!}</pre>
						  </div>
						</section>
						
						<section id="sample_input">
						  <div class="tabbable problem-content" id="sample_input">
						    <!-- Only required for left/right tabs -->
						    <ul class="nav nav-tabs">
						      <li class="active"><a href="#tab1" data-toggle="tab"><strong>Sample Input</strong></a></li>
						      <li><a href="#tab2" data-toggle="tab">Raw</a></li>
						    </ul>
						    <div class="tab-content">
						      <div class="tab-pane active" id="tab1">
						        <pre>${problem.sample_input!}</pre>
						      </div>
						      <div class="tab-pane" id="tab2">
						        <textarea id="sample_input" class="auto-width" rows="${problem.sample_input_rows!12}"
						          cols="185">${problem.sample_input!}</textarea>
						      </div>
						    </div>
						  </div>
						</section>
						
						<section id="sample_output">
						  <div class="tabbable problem-content" id="sample_output">
						    <!-- Only required for left/right tabs -->
						    <ul class="nav nav-tabs">
						      <li class="active"><a href="#tab3" data-toggle="tab"><strong>Sample Output</strong></a></li>
						      <li><a href="#tab4" data-toggle="tab">Raw</a></li>
						    </ul>
						    <div class="tab-content">
						      <div class="tab-pane active" id="tab3">
						        <pre>${problem.sample_output!}</pre>
						      </div>
						      <div class="tab-pane" id="tab4">
						        <textarea id="sample_output" class="auto-width" rows="${problem.sample_output_rows!12}"
						          cols="185">${problem.sample_output!}</textarea>
						      </div>
						    </div>
						  </div>
						</section>
						
						<#if problem.hint?? && problem.hint!="">
						<section id="hint">
						  <div class="page-header">
						    <h4>Hint</h4>
						  </div>
						  <div class="problem-content" id="hint">
						    <pre>${problem.hint!}</pre>
						  </div>
						</section>
						</#if>
						
						<#if problem.source?? && problem.source!="">
						<section id="source">
						  <div class="page-header">
						    <h4>Source</h4>
						  </div>
						  <div class="problem-content" id="source">
						    <pre><a href="problem/search?word=${problem.source!}&scope=source" data-toggle="tooltip" title="Search other problems">${problem.source!}</a></pre>
						  </div>
						</section>
						</#if>
						<#if tagList??>
						<section id="tag">
						  <div class="page-header">
						    <h4>Tag</h4>
						  </div>
						  <div class="problem-content" id="tag">
						    <pre><#list tagList as Tag><a href="problem/search?word=${Tag.tag!}&scope=tag" title="${Tag.name!}" data-toggle="tooltip">${Tag.tag!}</a> 
						     </#list></pre>
						  </div>
						</section>
						</#if>
						
						<form class="form-inline" action="problem/tag" method="post">
						  <input type="hidden" name="op" value="add"> 
						  <input type="hidden" name="pid" value="${problem.pid!}"> 
						  <input type="text" class="input-small" name="tag" placeholder="Add a tag">
						  <button type="submit" class="btn btn-warning">Add</button>
						</form>
						<!--
						<div class="text-center">
						  <a href="problem/submit/${problem.pid!}?ajax=1" class="btn btn-info" data-toggle="modal" data-target="#submitModal">Submit</a>
						  <a href="problem/status/${problem.pid!}" class="btn btn-info" target="_blank">Status</a>
						  <a href="#" class="btn btn-info" target="_blank">Discuss</a>
						</div>
            -->
          </div>
        </div>
      </div>
    </div>
</@layout>
