<@override name="content">

<div class="pagination pagination-centered">
  <div class="pull-left">
    <a href="notice" class="btn btn-success">Notice List</a>
    <#if user??>
    <a href="discuss/add" class="btn btn-primary">Post new topic</a>
    <#else>
    <a href="" class="btn btn-info" data-toggle="modal" data-target="#loginModal">Post new topic</a>
    </#if>
  </div>
  <#include "../common/_paginate.html" />
  <@paginate currentPage=topicPage.pageNumber totalPage=topicPage.totalPage actionUrl="notice/" />
  <div class="pull-right">
    <span class="badge badge-info">${topicPage.pageNumber}/${topicPage.totalPage} Pages</span> 
    <span class="badge badge-info">${topicPage.totalRow} Records</span>
  </div>
</div>
<div class="row">
  <#if topicList??>
      <#assign prevDeep = 1>
      <div id="tree">
        <ul>
      <#list topicList as topic>
        <#assign deep = deepTree.get(topic.id)>
        <#assign parentDeep = deepTree.get(topic.parentId)>
        <#if (deep > prevDeep)>
          <ul>
        <#elseif (deep < prevDeep)>
            </li>
          <#list prevDeep-1..deep as i>
              </ul>
            </li>
          </#list>
        <#elseif prevDeep==parentDeep>
          </li>
        </#if>
            <li data-deep="${deep}">
              <i class="topic topic-open"></i>
              <a href="#" class="topic-title" data-id="${topic.id}">${topic.title}</a>
              <a href="user/profile/${topic.name}">${topic.name}</a>
              <span class="timestamp" data="${topic.ctime}"></span>
              <#if (deep==1 && topic.pid?? && topic.pid>0)>
              <a href="problem/show/${topic.pid}">Problem ${topic.pid}</a>
              </#if>
        <#assign prevDeep=deep>
      </#list>
            </li>
          <#if (prevDeep>1)>
          <#list prevDeep-1..1 as i>
              </ul>
            </li>
          </#list>
          </#if>
        </ul>
      </div>
    </#if>
</div>
</@override>

<@override name="scripts">
  <script type="text/javascript">
    $(document).ready(function() {
      $('.timestamp').each( function() {
        var that = $(this);
        that.html(parseTimestamp(that.attr('data')));
      });

      $('.topic').click(function() {
        var that = $(this);
        if(that.parent().children('ul').size()) {
          if (that.hasClass('topic-open')) {
            that.removeClass('topic-open').addClass('topic-closed');
          } else {
            that.removeClass('topic-closed').addClass('topic-open');
          }
        }
        that.parent().children("ul").toggle("slow");
      });

      $('.topic-title').click(function() {
        return false;
      });
    });
  </script>
</@override>
<@extends name="../common/_layout.html" />
