<@override name="content">
<div id="login-box" class="row">
  <div class="span5 offset3">
    <form class="form-horizontal" action="user/resetPassword" method="post">
      <div class="control-group">
        <div class="controls">
          <span class="help-block"> Enter your new password. </span>
        </div>
      </div>
      <div class="control-group <#if passwordMsg??>error</#if>">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input type="password" minlength="6" maxlength="20" id="inputPassword" name="password"
                   placeholder="Password" required>
          </div>
          <p class="text-error">${passwordMsg!}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputConfirmPass">Confirm Password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock icon-white"></i></span>
            <input type="password" minlength="6" maxlength="20" id="inputConfirmPass" name="repass"
                   placeholder="Confirm your Password" required>
          </div>
          <p class="text-error">${confirmMsg!}</p>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-success" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
</@override>
<@override name="scripts">
</@override>
<@extends name="../common/_layout.html" />
