<@override name="content">
<#if contest.type==5>
  <#assign type="作业">
    <#else>
      <#if contest.type==6>
        <#assign type="实验">
          <#else>
            <#if contest.type==7>
              <#assign type="实验考试">
                <#else>
                  <#assign type="课程考试">
            </#if>
      </#if>
</#if>
<h3 class="text-center">${type}: ${contest.title!} <br> ${weeks.get(contest.lockBoardTime!)!}${lectures.get(contest.unlockBoardTime!)!}</h3>
<div id="contest-password" class="row">
  <div class="span5 offset3">
    <form class="form-horizontal" action="cprogram/checkPassword/${contest.cid}" method="post">
      <div class="control-group">
        <label class="control-label" for="inputPassword"> Password </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i> </span>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-success" value="Enter">
        </div>
      </div>
    </form>
  </div>
</div>
</@override>
<@override name="scripts">
</@override>
<@extends name="../common/_layout.html" />
