<@override name="content">
    <div class="header">
      <h1 class="page-title">权限管理</h1>
    </div>
    <ul class="breadcrumb">
      <li>
        <a href="admin">首页</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a href="admin/user">用户管理</a>
        <span class="divider">/</span>
      </li>
      <li class="active">权限管理</li>
    </ul>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="well">
          <div id="container">
          
          </div>
        </div>
      </div>
    </div>
 </@override>
<@extends name="../_layout.html"></@extends>