<#include "../common/_layout.html" /> <@layout>
<ul>
  <li>Dec 22, 2012
    <ul>
      <li>Initialized project in ThinkPHP</li>
    </ul>
  </li>
  <li>May 17, 2013
    <ul>
      <li>Change to JAVA servlet</li>
    </ul>
  </li>
  <li>May 21, 2013
    <ul>
      <li>Change to JFinal framework</li>
    </ul>
  </li>
  <li>Jun 19, 2013
    <ul>
      <li>Convert to Eclipse project</li>
    </ul>
  </li>
  <li>Aug 29, 2013
    <ul>
      <li>Add OjWebSocketServlet</li>
    </ul>
  </li>
  <li>2013-08-31
    <ul>
      <li>Move project to git@osc</li>
    </ul>
  </li>
  <li>2013-12-04
    <ul>
      <li>Update recent contest: support link</li>
    </ul>
  </li>
  <li>2013-12-05
    <ul>
      <li>Replace c3p0 with druid</li>
    </ul>
  </li>
  <li>2013-12-06
    <ul>
      <li>Support password access contest</li>
    </ul>
  </li>
  <li>2013-12-08
    <ul>
      <li>Auto detect baseURL in each request</li>
    </ul>
  </li>
  <li>2013-12-20
    <ul>
      <li>Add Apache Shiro Authentication</li>
    </ul>
  </li>
  <li>2013-12-21
    <ul>
      <li>Implement Shiro Authorization</li>
    </ul>
  </li>
</ul>
</@layout>
