<@override name="content">
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="10%">#</th>
				<th width="30%">资源名称</th>
				<th width="50%">资源描述</th>
				<th width="50%">下载</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Eclipse for Java</td>
				<td>强大的Java编译环境</td>
				<td><a href="download/eclipse-java-luna-SR1-win32.zip"><i class="icon-download-alt"></i></a></td>>
			</tr>
			<tr>
				<td>2</td>
				<td>Codeblocks 13.12</td>
				<td>C++的集成编译环境，拥有较好的调试功能。</td>
				<td><a href="download/codeblocks-13.12mingw-setup-TDM-GCC-481.exe"><i class="icon-download-alt"></i></a></td>>
			</tr>
			<tr>
				<td>3</td>
				<td>Dev C++</td>
				<td>最精简的C++集成编译环境，不需要建立项目，但是调试功能较差。</td>
				<td><a href="download/devcpp4980setup.zip"><i class="icon-download-alt"></i></a></td>>
			</tr>
			<tr>
				<td>4</td>
				<td>Netbeans 8.0 for Java</td>
				<td>集成编译环境，拥有强大的自动完成功能，但是调试功能较差。</td>
				<td><a href="download/netbeans-8.zip"><i class="icon-download-alt"></i></a></td>>
			</tr>
			<tr>
				<td>5</td>
				<td>MinGW Studio</td>
				<td></td>
				<td><a href="download/MinGWStudioFullSetup-2_05.exe"><i class="icon-download-alt"></i></a></td>>
			</tr>
			<tr>
				<td>6</td>
				<td>Adobe PDF Reader</td>
				<td>PDF阅读器</td>
				<td><a href="download/AdbeRdr11000_zh_CN.exe"><i class="icon-download-alt"></i></a></td>>
			</tr>
			<tr>
				<td>7</td>
				<td>JDK 8u25</td>
				<td>Java Development Kit</td>
				<td><a href="download/jdk-8u25-windows-i586.exe"><i class="icon-download-alt"></i></a></td>>
			</tr>
			<tr>
				<td>8</td>
				<td>JRE 7</td>
				<td>Java运行环境</td>
				<td><a href="download/jre7.zip"><i class="icon-download-alt"></i></a></td>>
			</tr>
		</tbody>
	</table>
</div>
</@override>
<@extends name="../common/_layout.html" />