<#include "../common/_layout.html" />
<@layout>
<h4>数据源列表</h4>
  <table id="flexme1">
    <thead>
      <tr>
      <th width="300">URL</th>
      <th width="100">DbType</th>
      <th width="100">正在打开连接数</th>
      <th width="100">逻辑打开</th>
      <th width="100">逻辑关闭
      <th width="100">物理打开</th>
      <th width="100">物理关闭</th>
      </tr>
    </thead>
    <tbody>
    <#list datasource as data >
      <tr>
        <td>${(data.url)!}</td>
        <td>${(data.dbType)!}</td>
        <td>${(data.activeCount)!}</td>
        <td>${(data.connectCount)!}</td>
        <td>${(data.closeCount)!}</td>
        <td>${(data.createCount)!}</td>
        <td>${(data.destroyCount)!}</td>
      </tr>
    </#list>
  </tbody>
  </table>
</@layout>