<@override name="content">
<div class="hero-unit">
<h1>
  Welcome to PowerOJ 2.0!
</h1>
<p>
IE 7+, Opera 11+, Safari 5+, Firefox 5+ and Chrome 14+ are <span class="badge badge-important"><b>REQUIRED</b></span> 
according to <a href="https://github.com/twitter/bootstrap/wiki/browser-Compatibility" target='_blank'>bootstrap compatibility page</a>.<br>
If you have none of them, click <a href='http://www.oj.swust.edu.cn/oj/' target='_blank'>here</a> for the original PowerOJ.<br>
Enjoy and have fun!
</p>
</div>

<div>
<p>
  PowerOJ is a online judge for ACM/ICPC or OI. Online Judge is a web service which can compile user's source code and run in limition. <br>
  Judge use predefined data files as stdin and get user's stdout as files, compare with the standard output data to judge the user's solution.
</p>
<p>
  First of all, read carefully <a href="faq" target="_blank">Frequently asked Questions</a>.<br> 
  Then, choose <a href="problem">problem</a>, solve it and submit it.
</p>
<p>
  If you want to publish your problems or setup your own online contest, just <a href="user/#area=mail-new;username=root">write us</a><br>
</p>
</div>
  OJ使用的相关帮助请参见
<a href="faq">F.A.Q.</a>
<br>
  你可以在<a href="problem"><b>题库</b></a>找到练习题目并
  <a href="submitpage"><b>提交</b></a>代码通过本系统测试你的解答。
<br>
  如果有什么疑问或建议请联系<a href="user/#area=mail-new;username=root">管理员</a>。
<br>
  题目数量：${problemsNumber!0}
<br>
<br>
  <a href="http://www.oj.swust.edu.cn/gongju/link.html" target="_blank"><b><U><font color=""red"">OJ大全</font></U></b></a>
<br>
  <a href="http://www.oj.swust.edu.cn/gongju" target="_blank"><b><U><font color="red">资料下载</font></U></b></a>
<br>
  <a href="http://www.oj.swust.edu.cn/oj/aCShare" target="_blank"><b><U><font color="red">aC共享计划</font></U></b></a>
<br>
  <b>PowerOJ测试，如果遇到问题请联系<a href="mailto:power721@163.com">管理员</a>。
</b>
<br>
</@override>
<@override name="scripts">
</@override>
<@extends name="../common/_layout.html" />
