<#include "../common/_layout.html" /> <@layout>
<div class="row">
  <div class="span12">
    <h1 class="text-center 404">Page Not Found!</h1>
  </div>
</div>
<!-- row -->
<div id="error-container">
  <img class="png" src="assets/images/404.png" /> <img class="png msg" src="assets/images/404_msg.png" />
  <p>
    <a href="."> <img class="png" src="assets/images/404_to_index.png" />
    </a>
  </p>
</div>
<div id="cloud" class="png"></div>
<pre style="DISPLAY: none"></pre>
<link class="resources library" rel="stylesheet" type="text/css" href="assets/css/oj-error.css">
</@layout>
