/*讨论部分的样式*/
#tree ul>li{
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    list-style-type:none;
}

@media (max-width: 500px){
    #tree ul>li{
        margin: 2% 1% 0 -1%;
    }

    /*调整编辑讨论的模态框*/
    .discussModal {
        width: 350px;
        margin: 0;
    }

    /*problem里的适配*/
    #lang{
        transform: scale(0.45);
        -webkit-transform-origin-x: -8%;
    }

    #problem-status{
        transform: scale(0.6);
        -webkit-transform-origin-x: 1%;
        -webkit-transform-origin-y: 5%;
    }

    /*按钮设置为块状*/
    .btn-group1{
        display: block;
    }

}