* {
  overflow-wrap: break-word;
}

.row{
  margin-left: 0;
}
body{
  padding:0;
  margin:0;
}

marquee ul.marquee li a {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

/*设置table样式*/
@media screen and (max-width: 500px){
  #signup,.logout{
    margin-right: 10px;
  }

  code {
    word-break: break-all;
    word-wrap: break-word;
  }

  #resource{
    margin-top: -120%;
  }

  .pagination-ul{
    margin-top: -270%;
  }

  #problem-search{
    transform: scale(0.9);
  }

  .container .row-fluid .span12{
    margin-top: 20%;
  }

  .container .row-fluid .span12 #login-box{
    margin-left: 10%;
  }

  .container .row-fluid .span12 .pull-left{
    margin-left: 10%;
  }

  .container .row-fluid .span12 .pagination .pull-right{
  float: left;
  margin-left: 20%;
  }

  .container .row-fluid .span12 .pagination .pull-left{
    transform: scale(0.9);
  }

  .container .row-fluid .span12 .pagination .btn-group{
    margin-left: -20%;
  }

  .container .row-fluid .span12 >#problem-list{
    font-size: 12px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -webkit-transform-origin-x: 2%;
    -webkit-transform-origin-y: 5px;
  }
  .container .row-fluid .span12 >#status{
    font-size: 12px;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -webkit-transform-origin-x: 1%;
    -webkit-transform-origin-y: 5px;
  }
  .container .row-fluid .span12 >#Contest-list{
    font-size: 13px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -webkit-transform-origin-x: 10%;
    -webkit-transform-origin-y: 5px;
  }

  .container .row-fluid .span12 >#user-rank{
    font-size: 12px;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -webkit-transform-origin-x: 1%;
    -webkit-transform-origin-y: 5px;
  }

  .container .row-fluid .span12 .faq{
    font-size: 12px;
    transform: scale(0.9);
    -webkit-transform-origin-x: 20%;
    -webkit-transform-origin-y: 0;
  }

  .container .row-fluid .span12 >.honor{
    font-size: 12px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -webkit-transform-origin-x: 25%;
    -webkit-transform-origin-y: 0;
  }
  .container .row-fluid .span12 .teble-download{
    font-size: 12px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -webkit-transform-origin-x: 10%;
    -webkit-transform-origin-y: 0;
  }



  /*改动表单大小*/
  .container .row-fluid .span12 .pagination .form-search>input,select{
    transform:scale(0.8);
    -webkit-transform:scale(0.8);
  }
  .container .row-fluid .span12 .pagination ul{
    font-size:12px;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
  }
}

.pull-right{
  margin-right:1%;
}

a.cureent {
  color: black;
}

#oj-navbar{
  position: fixed;
  width: 165px;
  z-index: 100;
}

#oj-top-navbar{
  width:100%;
  background-color: #015b4e;
  height: 65px;
}

.navbar-inverse .nav li.dropdown.active>.dropdown-toggle.admin {
  color: red;
  font-weight: bold;
}

#oj-navbar .nav-pills>li{
  width: 100%;
}

#oj-navbar .nav-pills>li>a{
  padding:13px 0 11px 30px !important;
  height: 19px;
}

.row .span6 .nav li{
  width:8%;
}

.row .span4 .nav li{
  width:8%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.grey {
  color: grey;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.olive {
  color: olive;
}

.teal {
  color: teal;
}

.violet {
  color: violet;
}

.purple {
  color: purple;
}

.pink {
  color: pink;
}

.brown {
  color: brown;
}

.navy {
  color: navy;
}

.black {
  color: black
}

.strong {
  font-weight: bold;
}

.left {
  float: left;
}

.main {
  min-height: 600px;
  padding-left: 165px;
  overflow: hidden;
}

.copyright {
  line-height: 39px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer {
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
}

.footer-links li {
  display: inline;
  height: 59px;
  margin-top: 30px;
  padding: 10px 0;
}

#login-box,#signup-box {
  margin: 65px auto;
}

.profile dl {
  margin-bottom: 15px;
}

.topic-open {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  line-height: 16px;
  vertical-align: text-top;
  background: url("../images/comments-open.gif") no-repeat;
}

.topic-closed {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  line-height: 16px;
  vertical-align: text-top;
  background: url("../images/comments-closed.gif") no-repeat;
}

.discussModal {
  /* SET THE WIDTH OF THE MODAL 设置Modal的宽度*/
  width: 700px;
  /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
  margin: -50px 0 0 -350px;
}

.discussModal .modal-body {
  max-height: 600px;
  max-width: 900px;
}

.problem textarea,.solution textarea,.contest textarea,.notice textarea,textarea.auto-width {
  width: auto;
  overflow: visible;
}

.problem .input-append,.contest .input-append,.notice .input-append {
  display: block
}

.modal-body textarea {
  width: 97%;
}

@media (min-width: 1200px) {
  .problemModal .modal-body {
    max-height: 600px;
    max-width: 900px;
  }

  .problemModal {
    /* SET THE WIDTH OF THE MODAL 设置Modal的宽度*/
    width: 900px;
    /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
    margin: -50px 0 0 -450px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .problemModal {
    max-height: 550px;
    max-width: 660px;
    margin: -40px 0 0 -280px;
  }

  .problemModal .modal-body {
    max-height: 97%;
    max-width: 97%;
  }

  .problemModal textarea {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .problemModal {
    max-height: 400px;
    max-width: 700px;
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    height: auto;
    margin: 0;
  }

  .problemModal .modal-body {
    max-height: 97%;
    max-width: 97%;
  }

  .problemModal textarea {
    height: 100px;
  }
}

@media (max-width: 480px) {

  .hero-unit h1{
    font-size: 42px;
  }

  .problemModal {
    max-height: 400px;
    max-width: 400px;
    margin: 10px 0 0 0;
  }

  .problemModal textarea {
    height: 50px;
  }
}

#notice-content {
  margin: 20px;
  min-height: 450px;
}

.solution .controls {
  padding-top: 5px;
}

table#status td.time,td.memory {
  text-align: center
}

#problem-status h4 {
  text-align: center
}

#AC {
  color: #ff0000;
  font-weight: bold;
}

#WA {
  font-weight: bold;
}

#CE {
  color: #8bbc21;
}

#TLE {
  color: #ff9900;
}
#file_div{
  height: 300px !important;
}

#MLE {
  color: #0692ff;
}

#RE {
  color: #bb338f;
}

#OLE {
  color: #999999;
}

#PE {
  color: #ff03fa;
}

#RF {
  color: #694990;
}

#SE,#Others {
  color: #492970;
}

#Wait {
  color: green;
}

.Q {
  color: #FF8040;
  font-weight: bold;
}

.A {
  color: green;
  font-weight: bold;
}

.faq_content_A {
  margin-bottom: 30px;
  padding-bottom:20px;
  border-bottom: 1px solid #ccc;
}

a.active {
  color: red;
}

div#source-code {
  text-align: center
}

.countdown {
  margin: 20px
}

.Pending {
  color: green !important;
}

.Running {
  color: red !important;
}

.Finished {
  color: #4682B4 !important;
}

span.time, span.memory, span.timestamp {
  color: #993399;
}

td.time,td.memory {
  color: #775599;
}

table#contest-rank th,table#contest-rank td {
  text-align: center
}

table#contest-rank td.ac {
  background-color: #33FF33;
}

table#contest-rank td.ac1 {
  background-color: #99FF99;
}

table#contest-rank td.wa {
  background-color: red;
}

table#contest-rank td.wa0 {
  background-color: #FFA0A0;
}

table#contest-rank td.wa1 {
  background-color: #FF8080;
}

table#contest-rank td.wa2 {
  background-color: #FF6060;
}

table#contest-rank td.wa3 {
  background-color: #FF4040;
}

table#contest-rank td.wa4 {
  background-color: #FF2020;
}

table#contest-rank td.fb {
  background-color: #007F00 !important;
  color: #FFF;
}

table.table-stats {
  font-size: 15px;
  width:99%;
}

.table thead th{
  background-color: #4B4B4B;
  color: white;
}

/*************** comment ******************/
.banner {
  width: auto;
  text-align: left;
  position: relative;
  color: #666;
  font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体", serif;
  font-size: 14px;
  height: 36px;
  line-height: 34px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tab.fixed {
  float: left !important;
  border: none;
  cursor: default;
  font-size: 18px;
  font-weight: normal;
  font-family: Michroma, 'Segoe UI Light', 'Segoe UI', 'Segoe UI WP',
    'Microsoft Jhenghei', '微软雅黑', sans-serif, Times;
  overflow: visible;
  padding: 0 8px;
}

.banner .tab {
  cursor: pointer;
  display: inline-block;
  width: auto;
  height: 34px;
  line-height: 34px;
  margin: 0;
  padding: 0 16px;
  text-align: center;
  overflow: hidden;
  color: #333;
  float: left;
  position: relative;
  border: none;
  font-size: 14px;
  border-right: 1px solid #eee;
}

.tab.fixed .hint {
  font-size: 10px;
  color: #ccc;
  margin: 0 0 0 4px;
}

.tab.more {
  cursor: pointer;
  background-color: transparent;
  float: right;
  color: #08c;
  border-radius: 2px;
  border: none;
  width: auto;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 4px;
  margin: 0 4px 0 0;
  position: relative;
  top: 4px;
}

.area-left,.left.area {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  display: inline-block;
}

.area-right,.right.area {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  float: right;
  display: inline-block;
}
/********* tag ************/
#tagsList {
  position: relative;
  width: 550px;
  height: 550px;
  margin: 45px auto;
  background: #24313d;
}

#tagsList a {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Microsoft YaHei, serif;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 6px;
}

#tagsList a:hover {
  color: #FF0000;
  letter-spacing: 2px;
}

.cxImage{
  position:relative;
  /*height:350px;*/
  width:80%;
  left:10%;

}

.cxImage img{
  width:100%;
  height:100%;
}
.news {
  /*margin: 0;*/
  /*margin-left: 10%;*/
  min-height: 85px;
  width: 98%;
  position: relative;
  float: left;
  border-bottom: dashed thin #999999;
  /*border-left: 5px solid #0081c2;*/
}

.news .title {
  color: #028d79;
  text-align: left;
  text-indent: 0.5cm;
  line-height: 1.1;
  font-weight: 400;
  font-size: 20px;
}

.news .time {
  color: black;
  line-height: 0.2;
  font-size: 14px;
  font-weight: 400;
}

.news .author {
  color: #993399;
  line-height: 0.2;
  font-size: 14px;
  font-weight: 400;
}

.news .entry {
  color: black;
  text-align: left;
  /*line-height: 0.5;*/
  font-weight: 400;
  font-size: 16px;
  text-indent: 1cm;
}
.honor
{
  marign:0;
  padding:0;
  position:relative;
}
.honor .title-1
{
  color:black;
  text-align:left;
  text-indent:0.5cm;
  word-spacing:1;
  font-size:36px;
  font-weight:900;
  line-height:1;
  border-bottom:solid thin #CCCCCC;
}

.cxboard {
  position: relative;
  background-color: #DCDCDC;
  padding: 0;
  min-height: 900px;
  width: 28%;
  float:right;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.cxboard .title {
  color: #666666;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 900;
  font-size: 20px;
  position:relative;
  top:10px;
  left: 5%;
}

.cxboard .entry
{
  color:#0066FF;
  padding:0 0.2cm;
  word-wrap: break-word;
  text-transform:capitalize;
  line-height:2;
  font-size:18px;
  list-style-position:out;
  position:relative;
  top:10px;
  /*left: -2%;*/
}

.honor .title-2
{
  color:black;
  text-align:left;
  text-indent:0.5cm;
  word-spacing:1;
  font-size:24px;
  font-weight:600;
}
.honor .table
{
  font-family:Arial, Helvetica, sans-serif;
  width:100%;
  height:50px;
  border-collapse:collapse;
  position:relative;
}
.honor .table td
{
  color:black;
  font-size:20px;
  border:1px solid gray;
  padding:5px;
  text-align:center;
  position:relative;
}
.honor .table th
{
  font-size:1.1em;
  text-align:center;
  padding:5px;
  border:1px solid gray;
  background-color:#F5F5FF;
  color:#000000;
}

.pagination>btn-large{
  width: 35%;
  height: 100px;
  margin: 10px;
  font-size: 28px;
}

.progress {
  position: relative;
}

.bar {
  z-index: 1;
  position: absolute;
}

.progress span {
  position: absolute;
  top: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: black;
}

.tag {
  margin-right: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  float: left;
  font-size: 14px;
  background-color: #f5f5f5;
  height: 30px;
  line-height: 26px;
  padding: 0 8px;
  border-radius: 15px;
  border: 1px solid #ebe9e8;
}

.tag a {
  height: 16px;
  line-height: 16px;
  text-decoration: none;
}

.tag .pts {
  font-size: 14px;
  color: #aaa3a0;
  cursor: pointer;
  margin-left: 2px;
}

.delete-tag {
  margin: 0 0 0 2px;
  color: #b94a48;
  display: inline-block;
}

.nav .avatar {
  height: 40px;
  width: 40px;
  /*border-radius: 15px;*/
  box-shadow: none;
  background-clip: border-box;
  background-origin: padding-box;
  background: transparent none repeat scroll 0% 0%;
  background-size: auto auto;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border: 2px solid rgb(255, 165, 199);
  box-sizing: border-box;
  color: rgb(51, 102, 153);
  cursor: pointer;
  display: block;
  line-height: 16px;
  margin: 0px 0px 0px;
  outline: rgb(51, 102, 153) none 0px;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.2s;
  vertical-align: baseline;
  white-space: normal;
  word-break: break-all;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}

ul.marquee li {
  display: inline-block;
  padding-right: 5000px;
}

div.pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
.fa-trophy {
   color: black;
 }